<div class="grid grid-flex">
  <div class="grid__item medium-down--one-whole one-third xlarge--one-quarter">
    <div class="grid-container">
      <ul class="footer-links">
        <li><h4>Help and Information</h4></li>
        {% for link in linklists.footer.links %}
          <li><a href="{{ link.url }}" class="">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="grid__item medium-down--one-whole one-third xlarge--one-quarter">
    <div class="grid-container">
      <ul class="footer-links">
        <li><h4>Legal</h4></li>
        {% for link in linklists.footer-legal.links %}
          <li><a href="{{ link.url }}" class="">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="grid__item medium-down--one-whole one-third xlarge--one-quarter">
    <div class="grid-container">
      {% comment %}
        Loop through available payment methods and show their icons.
      {% endcomment %}
        <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
        <ul class="inline-list payment-icons text-center">
          {% for type in shop.enabled_payment_types %}
            <li>
              <span class="icon-fallback-text">
                <span class="icon icon-{{type}}" aria-hidden="true"></span>
                <span class="fallback-text">{{ type | replace: '_',' '}}</span>
              </span>
            </li>
          {% endfor %}
        </ul>
        <div class="badges text-center">
          <a href="https://www.shopify.com/?utm_source=secure&amp;utm_medium=shop" title="This online store is secured by Shopify" target="_blank"><img src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-light-shadow.png" alt="Shopify secure badge" /></a>
          <a href="http://www.sagepay.co.uk/" title="This online store is uses SagePay for payments" target="_blank"><img src="{{ 'payments-by-sagepay.png' | asset_url }}" alt="Payments by SagePay" /></a>
        </div>
    </div>
  </div>
  <div class="grid__item one-quarter newsletter-large">
    <div class="grid-container">
      {% include 'newsletter' %}
    </div>
  </div>
</div>
<div class="grid grid-flex newsletter-small">
    <div class="grid__item one-whole">
    <div class="grid-container">
      {% include 'newsletter' %}
    </div>
  </div>
</div>
