   {% comment %}
      MailChimp is the go-to newsletter service for Shopify.
      Use the link below to find your MailChimp form action
      and insert it in your site settings.

      MailChimp newsletter integration and requirement:
       - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
    {% endcomment %}
    <h4>{{ 'layout.footer.newsletter_title' | t }}</h4>
    {% if settings.newsletter_form_action != blank %}
      {% assign form_action = settings.newsletter_form_action %}
    {% else %}
      {% assign form_action = '#' %}
    {% endif %}
    <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
      <span class="input-group-btn">
        <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
      </span>
    </form>