{% assign grid_item_width = 'xlarge--one-whole large--one-third medium--one-third one-whole' %}

<span class="h2">{{ settings.related_products_title }}</span>
<div class="grid">
{% assign number_of_related_products_to_show = 3 %}
{% assign number_of_products_shown = 0 %}



{% if product.tags.size > 0 %}
  {% assign related_string = '' %}
  {% for tag in product.tags %}
    {% assign tagArray = tag | split: ' ' %}
    {% if tagArray[0] == "related" or tagArray[0] == "Related" %}
      {% assign temp = tagArray[1] %}
      {% assign related_string = related_string | append: '-' | append: temp %}
    {% endif %}
  {% endfor %}
  {% assign related_string = related_string | remove_first: '-' %}
  {% assign related_array = related_string | split: '-' %}
  {% assign number_of_products_shown = related_array.size %}

  {% for related in related_array limit:3 %}
      {% assign product = all_products[related] %}
      {% include 'product-grid-item' %}
  {% endfor %}
{% endif %}

{% assign number_of_related_products_to_show = 3 | minus: number_of_products_shown %}
{% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% for product in collection.products limit: number_of_related_products_to_fetch %}
      {% if product.handle == current_product.handle %}
         {% assign current_product_found = true %}
      {% else %}
         {% unless current_product_found == false and forloop.last %}
            {% include 'product-grid-item' %}
         {% endunless %}
      {% endif %}
    {% endfor %}
{% endif %}
</div>