<div class="slider">
  <div>
    <a href="{{ settings.slider_link_1 }}"><img src="{{ 'slide1.jpg' | asset_url }}">
    <span class="slider-text">{{ settings.slider_text_1 }}</span></a>
  </div>
  <div>
    <a href="{{ settings.slider_link_2 }}"><img src="{{ 'slide2.jpg' | asset_url }}">
    <span class="slider-text">{{ settings.slider_text_2 }}</span></a>
  </div>
  <div>
    <a href="{{ settings.slider_link_3 }}"><img src="{{ 'slide3.jpg' | asset_url }}">
    <span class="slider-text">{{ settings.slider_text_3 }}</span></a>
  </div>
</div>
