{% assign tags_filter = false %}
{% assign tags_filter_list = tags | split: ';' | sort %}
{% for t in tags_filter_list %}
  {% assign tag = t | strip %}
  {% if current_tags contains tag %}
    <li class="clearfix filter">
      <label>{{ tag-filter-item }}</label>
      <span class="tag-filter-active" data-tag="{{ tag | handle }}">{{ tag | link_to_remove_tag: tag }}</span>
    </li>
    {% assign tags_filter = false %}
    {% break %}
  {% endif %}
  {% if collection.tags contains tag %}
    {% assign tags_filter = true %}
  {% endif %}
{% endfor %}
{% if tags_filter %}
<li class="clearfix filter">
  <label>{{ tag-filter-item }}</label>
  <select class="tag-filter">
    <option value="">All</option>
    {% for t in tags_filter_list %}
    {% assign tag = t | strip %}
    {% if current_tags contains tag %}
    <option value="{{ tag | handle }}" selected>{{ tag }}</option>
    {% elsif collection.tags contains tag %}
    <option value="{{ tag | handle }}">{{ tag }}</option>
    {% endif %}
    {% endfor %}
  </select>
</li>
{% endif %}
