<div class="header">
  <a href="#" class="slide-back side-button">Show Categories</a>
</div>
<h3>Filters:</h3>
<div class="tag-filter-container">
  {% assign tags = '' %}
  <ul class="menu">
    {% capture tags %}Aqata; Bisque; Brassware; Burlington; Duravit; Geberit; Grohe; Grohe Spa; Hansgrohe; Ideal Standard; Kaldewei; Keuco; Matki; Merlyn; MX Shower Trays; Phoenix; Pilkington Tiles; Radiators; Roca; Salamander Pumps; Schneider; Villeroy & Boch{% endcapture %}
    {% include 'tag-filter-brand' with 'Brands' %}

    {% capture tags %}Floor Standing Bidet; Radiator Valves and Accessories; Matki Hinged/ Pivot Door Enclosures; Wash Bowl; Showerpipes; Counter Top; Semi Recessed Basin; Exposed Shower Valves; Basin Taps; Concealed Bath Shower Mixer with Diverter; Designer Overhead Showers; Quadrant Shower Trays; Wastes & Traps; Toilet Brush Sets; Bathroom Radiators; Waste Systems; Close Coupled Toilets; Wall Hung Toilet; WC Frame; Matki Sliding Shower Doors; Vanity Units; Bathscreens; Robe Hooks; Electric Bathroom Radiators; Steel Baths; Designer Electric Radiators; Hand Showers; Special Shape Shower Tray; Corner Basin; Shower Channels & Grates; Decor Tiles; Sliding Shower Doors; 3 Hole Mixers; Toilet Roll Holder; Thermostatic Radiator Valves; Sanidusch; undercounter basins; Suspended Mirror; Concealed Cisterns; Pilar Taps; Bathroom Shelves and Baskets; Designer Shower Arms; Urinal Flush Plates; Concealed Showers; Shower Holder; Shower Waste; Soap Dishes & Dispensers; Zirkon; Designer Slide Rail Kits; Square Shower Tray; Micellaneous; Classic Duo; Tumblers/ Holders; Tall Cabinets; Tall Cabinet; Puro; Manual Radiator Valves; Flush Plates; Matki Quadrant Showers; Shower Accessories; Wall Outlets; Shower Bars; Washbowl; Shower Trays; Shower Baths; Tap Installation Sets; Shower Panels; Mirror Cabinets; Vanity Unit; Walk In Shower; Basin Trim; Semi Tall Cabinet; Freestanding Baths; Modular Furniture; Bidet Tap; Bath Spout; Back To Wall Toilet; Body Shower Jets; Shower Systems; Bidet Frame; Bathroom Lighting; Grab Bars; Hinged/ Pivot Door; Duschplan; Urinal Frames & Accessories; Bath Panels; Border Tiles; Plugs, Traps and Wastes; Standard Baths; Vaio; Bath Shower Mixer; Pilkington; Keuco Towel Rails & Rings; UnderCounter Basin; Bath Taps; Corner Baths; Rectangular Shower Tray; Towel Rails & Rings; Matki Walk-In; Toliet Seats; Shower Frame; Wall and Floor Tiles; Miscellaneous; Built In Basin; Wall Hung Bidet; Shelves; Quadrant Showers; Arrondo; Saniform Plus; Fitting Kits; Basin Frames; Basin and Bidet Wastes; Bath Filler with Waste and Overflow; Concealed Bath Shower Mixers; Luxury Baths; Bisque Radiator Valves; Steel Shower Trays; Shower Hoses; Undercounter Basin; Designer Radiators and Towel Warmers; Installation Valve Sets; Duschplan XXL; Countertop; Storage Unit; Urinal Frames & Flush Plate; Designer Radiators{% endcapture %}
    {% include 'tag-filter-item' with 'Type' %}

    {% capture tags %}400mm; 400mm Basin; 450mm Basin; 450mm; 500mm Basin; 500mm; 550mm; 550mm Basin; 600mm; 600mm Basin; 650mm Basin; 700mm; 700mm Basin; 700 - 1300mm; 800mm; 800mm Basin; 850mm; 900mm Basin; 900mm; Height Upto 1000mm; 1000mm; 1000mm Basin; Height 1001- 1599mm; 1200mm; 1200mm Basin; 1300mm; 1300mm Basin; 1400mm; 1500mm; Height Over 1600mm; 1600mm; 1700mm{% endcapture %}
    {% include 'tag-filter-item' with 'Size' %}

    {% capture tags %}Aluminium; American Cherry Tree; American Walnut; Anthracite; Anthracite Oak; Basalt Matt; Beige; Bismuth; Black; Black Sable; Bleached Oak; Brass; Bright Oak; Brilliant Anthracite Glaze; Brilliant Framboise Glaze; Brilliant White Glaze; Brown; Brushed Aluminium; Brushed Dark Oak; Brushed Nickel; Brushed Oak; Brushed Walnut; Champagne; Cherry; Chrome; Chrome & Gold Optic; Chrome Gloss; Copper; Creme; Dark Oak; Dark Walnut; Ebony; Edelweiss; Elm Graphite; Elm Impresso; Etched Brass; Etched Copper; European Oak; Glossy Black; Glossy Grey; Glossy Walnut; Glossy White; Grey; High Gloss White; Lacquered Metal; Lagoon/ Edge Silver/ White; Linen; Macassar; Macassar Decor; Marron; Matt Black; Medium Walnut; Metallica; Mirror Finish; Mirror Glass; Mocha; Nickel Nero; Oak; Oak Graphite; Oak Silver/ Edge Silver/ Blue; Orange; Pergamon; Pergamon Ceramicplus; Petrol Blue; Pine Silver; Pine Terra; Platinum Matt; Polished Chrome; Polished Chrome Crystalline; Pure Oak; R2 Star White C+; R3 Pergamon Ceramic Plus; Red; Rosewood; Santana Oak; Satin Chrome; Silk; Silver; Stainless Steel; Stainless Steel Optic; Star White; Steel; Terra; Terra Matt; Titane; Volcanic; White; White & Chrome; White Alpin; White Ceramic Plus; White High Gloss; White Matt; White Matt Lacquer; White/ Chrome; White/ Edge Blue{% endcapture %}
    {% include 'tag-filter-item' with 'Colour' %}

    {% capture tags %}1 Tap Hole; 1 Tap Hole No Overflow; 1 Tap Hole With Concealed Over; 1 Tap Hole With Overflow; 1Tap Hole Concealed
    Overflow; 2 Tap Hole; 2 Tap Hole With Overflow; 2X 1 Tap Hole With Overflow; 2X 1 Tap Hole Without Overflow; 2X 3 Tap Hole With Overflow; 2X 3 Taphole Without Overflow; 3 Tap Hole; 3 Tap Hole No Overflow; 3 Tap Hole With Concealed Over; 3 Tap Hole With Overflow; 4 Tap Hole; No Tap Hole; No Tap Hole No Overflow; No Tap Hole With Overflow; Tap Hole On Left; Tap Hole On Right{% endcapture %}
    {% include 'tag-filter-item' with 'Tap Holes' %}

    {% capture tags %}Anti- Slip; Carronite Twin Grip; Easy Clean; Easy Clean & Grip Holes; Grip Holes; Left Hand; Right Hand; Rubber Profile; Tap Holes; Tap Holes & Anti Slip; Tap Holes & Anti Slip & Grip H; Tap Holes & Grip Holes{% endcapture %}
    {% include 'tag-filter-item' with 'Bath Options' %}
  </ul>
</div>

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection page.
     Give you product tag filter select element a class of tag-filter.
     Give your collection select a class of tag-picker.
     Brought to you by Caroline Schnapp. */
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('.tag-picker').change(function() {
    if (jQuery(this).val()) {
      location.href = '/collections/' + jQuery(this).val();
    }
    else {
      location.href = '/collections/all';
    }
  });
  var tagActiveFilters = jQuery('.tag-filter-active');
  var collFilters = jQuery('.tag-filter');
  collFilters.change(function() {
    delete Shopify.queryParams.page;
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    tagActiveFilters.each(function () {
      if(jQuery(this).data("tag")) {
        newTags.push(jQuery(this).data("tag"));
      }
    });
    {% if collection.handle %}
    var newURL = '/collections/{{ collection.handle }}';
    if (newTags.length) {
      newURL += '/' + newTags.join('+');
    }
    var search = jQuery.param(Shopify.queryParams);
    if (search.length) {
      newURL += '?' + search;
    }
    location.href = newURL;
    {% else %}
    if (newTags.length) {
      Shopify.queryParams.constraint = newTags.join('+');
    }
    else {
      delete Shopify.queryParams.constraint;
    }
    location.search = jQuery.param(Shopify.queryParams);
    {% endif %}
  });
</script>
