{% assign tags_filter = false %}
{% assign tags_type_filter = false %}
{% assign tags_filter_list = tags | split: ';' %}
{% for t in tags_filter_list %}
  {% assign tag = t | strip %}
  {% if collection.title == tag %}
    {% assign tags_type_filter = true %}
    {% assign tags_filter = false %}
    {% break %}
  {% endif %}
  {% if current_tags contains tag %}
    <li class="clearfix filter">
      <label>{{ tag-filter-brand }}</label>
      <span class="tag-filter-active" data-tag="{{ tag | handle }}">{{ tag | link_to_remove_tag: tag }}</span>
    </li>
    {% assign tags_filter = false %}
    {% break %}
  {% endif %}
  {% if collection.tags contains tag %}
    {% assign tags_filter = true %}
  {% endif %}
{% endfor %}
{% if tags_filter %}
<li class="clearfix filter">
  <label>{{ tag-filter-brand }}</label>
  <select class="tag-filter">
    <option value="">All</option>
    {% for t in tags_filter_list %}
    {% assign tag = t | strip %}
    {% if current_tags contains tag %}
    <option value="{{ tag | handle }}" selected>{{ tag }}</option>
    {% elsif collection.tags contains tag %}
    <option value="{{ tag | handle }}">{{ tag }}</option>
    {% endif %}
    {% endfor %}
  </select>
</li>
{% endif %}
{% comment %}
{% if tags_type_filter %}
  {% assign tags_filter = false %}
  {% assign tags_filter_list = 'Floor Standing Bidet; Radiator Valves and Accessories; Matki Hinged/ Pivot Door Enclosures; Wash Bowl; Showerpipes; Counter Top; Semi Recessed Basin; Exposed Shower Valves; Basin Taps; Concealed Bath Shower Mixer with Diverter; Designer Overhead Showers; Quadrant Shower Trays; Wastes & Traps; Toilet Brush Sets; Bathroom Radiators; Waste Systems; Close Coupled Toilets; Wall Hung Toilet; WC Frame; Matki Sliding Shower Doors; Vanity Units; Bathscreens; Robe Hooks; Electric Bathroom Radiators; Steel Baths; Designer Electric Radiators; Hand Showers; Special Shape Shower Tray; Corner Basin; Shower Channels & Grates; Decor Tiles; Sliding Shower Doors; 3 Hole Mixers; Toilet Roll Holder; Thermostatic Radiator Valves; Sanidusch; undercounter basins; Suspended Mirror; Concealed Cisterns; Pilar Taps; Bathroom Shelves and Baskets; Designer Shower Arms; Urinal Flush Plates; Concealed Showers; Shower Holder; Shower Waste; Soap Dishes & Dispensers; Zirkon; Designer Slide Rail Kits; Square Shower Tray; Micellaneous; Classic Duo; Tumblers/ Holders; Tall Cabinets; Tall Cabinet; Puro; Manual Radiator Valves; Flush Plates; Matki Quadrant Showers; Shower Accessories; Wall Outlets; Shower Bars; Washbowl; Shower Trays; Shower Baths; Tap Installation Sets; Shower Panels; Mirror Cabinets; Vanity Unit; Walk In Shower; Basin Trim; Semi Tall Cabinet; Freestanding Baths; Modular Furniture; Bidet Tap; Bath Spout; Back To Wall Toilet; Body Shower Jets; Shower Systems; Bidet Frame; Bathroom Lighting; Grab Bars; Hinged/ Pivot Door; Duschplan; Urinal Frames & Accessories; Bath Panels; Border Tiles; Plugs, Traps and Wastes; Standard Baths; Vaio; Bath Shower Mixer; Pilkington; Keuco Towel Rails & Rings; UnderCounter Basin; Bath Taps; Corner Baths; Rectangular Shower Tray; Towel Rails & Rings; Matki Walk-In; Toliet Seats; Shower Frame; Wall and Floor Tiles; Miscellaneous; Built In Basin; Wall Hung Bidet; Shelves; Quadrant Showers; Arrondo; Saniform Plus; Fitting Kits; Basin Frames; Basin and Bidet Wastes; Bath Filler with Waste and Overflow; Concealed Bath Shower Mixers; Luxury Baths; Bisque Radiator Valves; Steel Shower Trays; Shower Hoses; Undercounter Basin; Designer Radiators and Towel Warmers; Installation Valve Sets; Duschplan XXL; Countertop; Storage Unit; Urinal Frames & Flush Plate; Designer Radiators' | split: ';' %}
  {% for t in tags_filter_list %}
    {% assign tag = t | strip %}
    {% if current_tags contains tag %}
      <li class="clearfix filter">
        <label>Category</label>
        <span class="tag-filter-active" data-tag="{{ tag | handle }}">{{ tag | link_to_remove_tag: tag }}</span>
      </li>
      {% assign tags_filter = false %}
      {% break %}
    {% endif %}
    {% if collection.tags contains tag %}
      {% assign tags_filter = true %}
    {% endif %}
  {% endfor %}
  {% if tags_filter %}
  <li class="clearfix filter">
    <label>Category</label>
    <select class="tag-filter">
      <option value="">All</option>
      {% for t in tags_filter_list %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% elsif collection.tags contains tag %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </li>
  {% endif %}
{% endif %}
{% endcomment %}
