@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('{{ "slick.eot" | asset_url }}');
    src: url('{{ 'slick.eot?#iefix' | asset_url }}') format('embedded-opentype'), url('{{ 'slick.woff' | asset_url}}') format('woff'), url('{{ 'slick.ttf' | asset_url}}') format('truetype'), url('{{ 'slick.svg#slick' | asset_url}}') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    bottom:-55px;

    display: block;

    width: 25px;
    height: 25px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    z-index:2;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;

    opacity: .75;
    color: #e25345;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 5%;
}
[dir='rtl'] .slick-prev
{
    right: 5%;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 5%;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 5%;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 50px;
}

.slick-dots
{
    position: absolute;
    bottom: -55px;

    display: block;

    width: 100%;
    padding: 0;
    margin:0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 25px;
    height: 25px;
    margin: 0 25px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 25px;
    height: 25px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 25px;
    line-height: 25px;

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #e25345;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #e25345;
}

.hero-slider{
  opacity:0;
}
.hero-slider.slick-initialized{
  opacity:1;
  transition:opacity 0.2s ease-in;
}
/*
.slick-slider {
    background: url(loader.gif);
}
.slick-slider.slick-initialized {
    background: none;
}*/