/*============================================================================
  Shopify Timber
  Copyright 2015 Shopify Inc.
  Author Carson Shold @cshold
  Built with Sass - http://sass-lang.com/

  Some things to know about this file:
    - Sass is compiled on Shopify's server so you don't need to convert it to CSS yourself
    - The output CSS is compressed and comments are removed
    - You cannot use @imports in this file
        * Use grunt or gulp tasks to enable @imports - https://github.com/Shopify/shopify-css-import
    - Helpers variables, mixins, and starter classes are provided. Change as needed.
    - The file is prepped with a CSS reset
    - The font icons are prepared using https://icomoon.io/app
==============================================================================*/

/*============================================================================
  Table of Contents

  #Breakpoint and Grid Variables
  #General Variables
  #Sass Mixins
  #Normalize
  #Grid Setup
  #Basic Styles
  #Helper Classes
  #Typography
  #Rich Text Editor
  #Links and Buttons
  #Lists
  #Tables
  #Reponsive Tables
  #OOCSS Media Object
  #Images and Iframes
  #Forms
  #Icons
  #Pagination
  #Site Header
  #Site Nav and Dropdowns
  #Mobile Nav
  #Drawers
  #Site Footer
  #Product and Collection Grids
  #Collection Filters
  #Breadcrumbs
  #Product Page
  #Notes and Form Feedback
  #Cart Page
  #Ajax Cart Styles
==============================================================================*/

/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;
$xlarge: 1400px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;
$prexLarge: $xlarge - $viewportIncrement;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  //'large' '(min-width: #{$large})',
  'large' '(min-width: #{$large}) and (max-width: #{$xlarge})',
  'xlarge' '(min-width: #{$xlarge})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large', 'xlarge');
$breakpoint-has-push:  ('medium', 'medium-down', 'large', 'xlarge');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large', 'xlarge');

/*============================================================================
  #General Variables
==============================================================================*/

// Timber Colors
$colorPrimary: {{ settings.color_primary }};
$colorSecondary: {{ settings.color_secondary }};

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: lighten($colorBtnPrimary, 10%);
$colorBtnPrimaryActive: lighten($colorBtnPrimaryHover, 10%);
$colorBtnPrimaryText: #fff;

$colorBtnSecondary: $colorSecondary;
$colorBtnSecondaryHover: darken($colorBtnSecondary, 10%);
$colorBtnSecondaryActive: darken($colorBtnSecondaryHover, 10%);
$colorBtnSecondaryText: #fff;

// Text link colors
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 15%);

// Text colors
$colorTextBody: {{ settings.color_body_text }};

// Backgrounds
$colorBody: {{ settings.color_body_bg }};

// Border colors
$colorBorder: {{ settings.color_borders }};

// Nav and dropdown link background
$colorNav: #f2f2f2;
$colorNavText: #333;

//Sidebar
$colorSidebarBg: white;
$colorSidebarText: $colorPrimary;

// Site Footer
$colorFooterBg: {{ settings.color_footer_bg }};
$colorFooterText: {{ settings.color_footer_text }};

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Drawers
$drawerNavWidth: 300px;
$drawerCartWidth: 300px;
$colorDrawers: #f6f6f6;
$colorDrawerBorder: darken($colorDrawers, 5%);
$colorDrawerText: #333;
$drawerTransition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);

// Sizing variables
$siteWidth: 100%;
$gutter: 20px;
$gridGutter: 20px; // can be a %, but nested grids will have smaller margins because of it
$radius: 3px;

// Z-index
$zindexNavDropdowns: 5;
$zindexDrawer: 15;
$stackSidebar: 20;
$stackHeader: 10;

/*================ Typography ================*/

$headerFontStack: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
$headerFontWeight: 700;

$bodyFontStack: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
$baseFontSize: 14px; // Henseforth known as 1em

@font-face {
  font-family: 'icons';
  src: url('{{ "icons.eot" | asset_url }}');
  src: url('{{ "icons.eot" | asset_url }}#iefix') format("embedded-opentype"),
       url('{{ "icons.woff" | asset_url }}') format("woff"),
       url('{{ "icons.ttf" | asset_url }}') format("truetype"),
       url('{{ "icons.svg" | asset_url }}#timber-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}
$socialIconFontStack: 'icons';


/*============================================================================
  #Sass Mixins
==============================================================================*/
.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin box-shadow() {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
                        0 1px 2px 0 rgba(0,0,0,.24);
    -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
                        0 1px 2px 0 rgba(0,0,0,.24);
    box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
                        0 1px 2px 0 rgba(0,0,0,.24);
}

/*============================================================================
  Prefixer mixin for generating vendor prefixes:
    - Based on https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss
    - Usage:

      // Input:
      .element {
        @include prefixer(transform, scale(1), ms webkit spec);
      }

      // Output:
      .element {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
      }
==============================================================================*/

@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin transform($transform) {
  @include prefixer(transform, $transform, ms webkit spec);
}

@mixin user-select($value: none) {
  @include prefixer(user-select, $value, webkit moz ms spec);
}

@mixin backface($visibility: hidden) {
  @include prefixer(backface-visibility, $visibility, webkit spec);
}

@function em($target, $context: $baseFontSize) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}

@function color-control($color) {
  @if (lightness( $color ) > 40) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}
.ww{@include word-wrap();}
/*============================================================================
  Dependency-free breakpoint mixin
    - Based on http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
    - Usage docs: http://shopify.github.io/Timber/#sass-mixins
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
 $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

/*============================================================================
  #Normalize
==============================================================================*/
*, input, :before, :after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*============================================================================
  #Grid Setup
    - Based on csswizardry grid, but with floated columns, a fixed gutter size, and BEM classes
    - Breakpoints defined above, under #Breakpoint and Grid Variables
    - Note the inclusion of .grid-uniform to take care of clearfixes on evenly sized grid items
==============================================================================*/
$responsive:         true;
$mobile-first:       true;
$use-silent-classes: false;
$push:               true;
$pull:               true;

/* Force clearfix on grids */
.grid,
.grid-uniform {
  @include clearfix;
}

/* Manual grid__item clearfix */
.grid__item.clear {
  clear: both;
}

$class-type: unquote(".");

@if $use-silent-classes == true {
  $class-type: unquote("%");
}

@mixin grid-media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn "Breakpoint '#{$media-query}' does not exist";
  }
}


/*============================================================================
  Drop relative positioning into silent classes which can't take advantage of
  the `[class*="push--"]` and `[class*="pull--"]` selectors.
==============================================================================*/
@mixin silent-relative() {
  @if $use-silent-classes == true {
    position:relative;
  }
}

/*============================================================================
  Grid Setup
    1. Allow the grid system to be used on lists.
    2. Remove any margins and paddings that might affect the grid system.
    3. Apply a negative `margin-left` to negate the columns' gutters.
==============================================================================*/
#{$class-type}grid,
#{$class-type}grid-uniform {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -$gridGutter;
}

#{$class-type}grid__item {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: $gridGutter;
  vertical-align: top;
  @if $mobile-first == true {
    width: 100%;
  }
}

/*============================================================================
  Reversed grids allow you to structure your source in the opposite
  order to how your rendered layout will appear.
==============================================================================*/
#{$class-type}grid--rev {
  @extend #{$class-type}grid;
  direction: rtl;
  text-align: left;

  > #{$class-type}grid__item {
    direction: ltr;
    text-align: left;
    float: right;
  }
}

/* Gutterless grids have all the properties of regular grids, minus any spacing. */
#{$class-type}grid--full {
  @extend #{$class-type}grid;
  margin-left: 0;

  > #{$class-type}grid__item {
    padding-left: 0;
  }
}

/*============================================================================
  WIDTHS
    - Create width classes, prefixed by the specified namespace.
==============================================================================*/
@mixin device-type($namespace:"") {
  /** Whole */
  #{$class-type}#{$namespace}one-whole       { width: 100%; }

  /* Halves */
  #{$class-type}#{$namespace}one-half        { width: 50%; }

  /* Thirds */
  #{$class-type}#{$namespace}one-third       { width: 33.333%; }
  #{$class-type}#{$namespace}two-thirds      { width: 66.666%; }

  /* Quarters */
  #{$class-type}#{$namespace}one-quarter     { width: 25%; }
  #{$class-type}#{$namespace}two-quarters    { width: 50%; }
  #{$class-type}#{$namespace}three-quarters  { width: 75%; }

  /* Fifths */
  #{$class-type}#{$namespace}one-fifth       { width: 20%; }
  #{$class-type}#{$namespace}two-fifths      { width: 40%; }
  #{$class-type}#{$namespace}three-fifths    { width: 60%; }
  #{$class-type}#{$namespace}four-fifths     { width: 80%; }

  /* Sixths */
  #{$class-type}#{$namespace}one-sixth       { width: 16.666%; }
  #{$class-type}#{$namespace}two-sixths      { width: 33.333%; }
  #{$class-type}#{$namespace}three-sixths    { width: 50%; }
  #{$class-type}#{$namespace}four-sixths     { width: 66.666%; }
  #{$class-type}#{$namespace}five-sixths     { width: 83.333%; }

  /* Eighths */
  #{$class-type}#{$namespace}one-eighth      { width: 12.5%; }
  #{$class-type}#{$namespace}two-eighths     { width: 25%; }
  #{$class-type}#{$namespace}three-eighths   { width: 37.5%; }
  #{$class-type}#{$namespace}four-eighths    { width: 50%; }
  #{$class-type}#{$namespace}five-eighths    { width: 62.5%; }
  #{$class-type}#{$namespace}six-eighths     { width: 75%; }
  #{$class-type}#{$namespace}seven-eighths   { width: 87.5%; }

  /* Tenths */
  #{$class-type}#{$namespace}one-tenth       { width: 10%; }
  #{$class-type}#{$namespace}two-tenths      { width: 20%; }
  #{$class-type}#{$namespace}three-tenths    { width: 30%; }
  #{$class-type}#{$namespace}four-tenths     { width: 40%; }
  #{$class-type}#{$namespace}five-tenths     { width: 50%; }
  #{$class-type}#{$namespace}six-tenths      { width: 60%; }
  #{$class-type}#{$namespace}seven-tenths    { width: 70%; }
  #{$class-type}#{$namespace}eight-tenths    { width: 80%; }
  #{$class-type}#{$namespace}nine-tenths     { width: 90%; }

  /* Twelfths */
  #{$class-type}#{$namespace}one-twelfth     { width: 8.333%; }
  #{$class-type}#{$namespace}two-twelfths    { width: 16.666%; }
  #{$class-type}#{$namespace}three-twelfths  { width: 25%; }
  #{$class-type}#{$namespace}four-twelfths   { width: 33.333%; }
  #{$class-type}#{$namespace}five-twelfths   { width: 41.666% }
  #{$class-type}#{$namespace}six-twelfths    { width: 50%; }
  #{$class-type}#{$namespace}seven-twelfths  { width: 58.333%; }
  #{$class-type}#{$namespace}eight-twelfths  { width: 66.666%; }
  #{$class-type}#{$namespace}nine-twelfths   { width: 75%; }
  #{$class-type}#{$namespace}ten-twelfths    { width: 83.333%; }
  #{$class-type}#{$namespace}eleven-twelfths { width: 91.666%; }
}

/*================ Clearfix helper on uniform grids ================*/
@mixin clearfix-helper($namespace:"") {
  .grid-uniform {
    #{$class-type}#{$namespace}one-half:nth-child(2n+1),
    #{$class-type}#{$namespace}one-third:nth-child(3n+1),
    #{$class-type}#{$namespace}one-quarter:nth-child(4n+1),
    #{$class-type}#{$namespace}one-fifth:nth-child(5n+1),
    #{$class-type}#{$namespace}one-sixth:nth-child(6n+1),
    #{$class-type}#{$namespace}two-sixths:nth-child(3n+1),
    #{$class-type}#{$namespace}three-sixths:nth-child(2n+1),
    #{$class-type}#{$namespace}two-eighths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-eighths:nth-child(2n+1),
    #{$class-type}#{$namespace}five-tenths:nth-child(2n+1),
    #{$class-type}#{$namespace}one-twelfth:nth-child(12n+1),
    #{$class-type}#{$namespace}two-twelfths:nth-child(6n+1),
    #{$class-type}#{$namespace}three-twelfths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-twelfths:nth-child(3n+1),
    #{$class-type}#{$namespace}six-twelfths:nth-child(2n+1)    { clear: both; }
  }
}


/*================ Helper show/hide classes around our breakpoints ================*/
@mixin device-helper($namespace:"") {
  #{$class-type}#{$namespace}show        { display: block!important; }
  #{$class-type}#{$namespace}hide        { display: none!important; }

  #{$class-type}#{$namespace}text-left   { text-align: left!important; }
  #{$class-type}#{$namespace}text-right  { text-align: right!important; }
  #{$class-type}#{$namespace}text-center { text-align: center!important; }

  #{$class-type}#{$namespace}left        { float: left!important; }
  #{$class-type}#{$namespace}right       { float: right!important; }
}

/*================ Our regular, non-responsive width and helper classes ================*/
@include device-type();
@include device-helper();

/*================ Our responsive classes, if we have enabled them ================*/
@if $responsive == true {
  @each $name in $breakpoint-has-widths {
    @include grid-media-query($name) {
      @include device-type('#{$name}--');
      @include device-helper('#{$name}--');
      @include clearfix-helper('#{$name}--');
    }
  }
}

/*============================================================================
  PUSH
    - Push classes, to move grid items over to the right by certain amounts
==============================================================================*/
@mixin push-setup($namespace: "") {
  /* Whole */
  #{$class-type}push--#{$namespace}one-whole       { left: 100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}push--#{$namespace}one-half        { left: 50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}push--#{$namespace}one-third       { left: 33.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-thirds      { left: 66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}push--#{$namespace}one-quarter     { left: 25%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-quarters    { left: 50%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-quarters  { left: 75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}push--#{$namespace}one-fifth       { left: 20%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-fifths      { left: 40%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-fifths    { left: 60%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-fifths     { left: 80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}push--#{$namespace}one-sixth       { left: 16.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-sixths      { left: 33.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-sixths    { left: 50%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-sixths     { left: 66.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}five-sixths     { left: 83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}push--#{$namespace}one-eighth      { left: 12.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-eighths     { left: 25%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-eighths   { left: 37.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-eighths    { left: 50%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}five-eighths    { left: 62.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-eighths     { left: 75%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}seven-eighths   { left: 87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}push--#{$namespace}one-tenth       { left: 10%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-tenths      { left: 20%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-tenths    { left: 30%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-tenths     { left: 40%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}five-tenths     { left: 50%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-tenths      { left: 60%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}seven-tenths    { left: 70%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-tenths    { left: 80%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}nine-tenths     { left: 90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}push--#{$namespace}one-twelfth     { left: 8.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-twelfths    { left: 16.666%; @include silent-relative();  }
  #{$class-type}push--#{$namespace}three-twelfths  { left: 25%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-twelfths   { left: 33.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}five-twelfths   { left: 41.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-twelfths    { left: 50%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}seven-twelfths  { left: 58.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-twelfths  { left: 66.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}nine-twelfths   { left: 75%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}ten-twelfths    { left: 83.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eleven-twelfths { left: 91.666%; @include silent-relative(); }
}

@if $push == true {
  [class*="push--"]{ position:relative; }

  @include push-setup();

  @if $responsive == true {
    @each $name in $breakpoint-has-push {
      @include grid-media-query($name) {
        @include push-setup('#{$name}--');
      }
    }
  }
}

/*============================================================================
  PULL
    - Pull classes, to move grid items back to the left by certain amounts
==============================================================================*/
@mixin pull-setup($namespace: "") {
  /* Whole */
  #{$class-type}pull--#{$namespace}one-whole       { right: 100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}pull--#{$namespace}one-half        { right: 50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}pull--#{$namespace}one-third       { right: 33.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-thirds      { right: 66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}pull--#{$namespace}one-quarter     { right: 25%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-quarters    { right: 50%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-quarters  { right: 75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}pull--#{$namespace}one-fifth       { right: 20%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-fifths      { right: 40%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-fifths    { right: 60%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-fifths     { right: 80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}pull--#{$namespace}one-sixth       { right: 16.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-sixths      { right: 33.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-sixths    { right: 50%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-sixths     { right: 66.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}five-sixths     { right: 83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}pull--#{$namespace}one-eighth      { right: 12.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-eighths     { right: 25%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-eighths   { right: 37.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-eighths    { right: 50%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}five-eighths    { right: 62.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-eighths     { right: 75%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}seven-eighths   { right: 87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}pull--#{$namespace}one-tenth       { right: 10%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-tenths      { right: 20%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-tenths    { right: 30%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-tenths     { right: 40%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}five-tenths     { right: 50%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-tenths      { right: 60%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}seven-tenths    { right: 70%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-tenths    { right: 80%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}nine-tenths     { right: 90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}pull--#{$namespace}one-twelfth     { right: 8.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-twelfths    { right: 16.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-twelfths  { right: 25%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-twelfths   { right: 33.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}five-twelfths   { right: 41.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-twelfths    { right: 50%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}seven-twelfths  { right: 58.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-twelfths  { right: 66.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}nine-twelfths   { right: 75%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}ten-twelfths    { right: 83.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eleven-twelfths { right: 91.666%; @include silent-relative(); }
}

@if $pull == true {
  [class*="pull--"]{ position:relative; }

  @include pull-setup();

  @if $responsive == true {
    @each $name in $breakpoint-has-pull {
      @include grid-media-query($name) {
        @include pull-setup('#{$name}--');
      }
    }
  }
}

/*============================================================================
  #Basic Styles
==============================================================================*/
html {
  background-color: $colorFooterBg;
}

body {
  background-color: $colorBody;
}

[tabindex='-1']:focus {
  outline: none;
}

.wrapper {
  @include clearfix();
  max-width: $siteWidth;
  margin: 0 auto;
  padding: 0 ($gutter / 2);

  @include at-query ($min, $small) {
    padding: 0 $gutter;
  }
}

.main-content {
  display: block;
  margin-top: $gutter;
  padding-bottom: $gutter * 2;
}

/*============================================================================
  #Helper Classes
==============================================================================*/
.is-transitioning {
  display: block !important;
  visibility: visible !important;
}

.display-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

@include at-query ($min, $large) {
  .large--display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .large--display-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

/*============================================================================
  #Typography
==============================================================================*/

/* Typography from Gridlover */

$base-font-size: 1em;
$base-line-height: 1.1875em;

body,
input,
textarea,
button,
select {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $bodyFontStack;
  color: $colorTextBody;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-family: $headerFontStack;
  font-weight: $headerFontWeight;
  a {
    text-decoration: none;
    font-weight: inherit;
  }
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

h1 {
  font-size: 2.5em;
  line-height: 1.055555556em;
  margin-top: 0.7037037em;
  margin-bottom: 0.35185185em;
}
h2 {
  font-size: 2.25em;
  line-height: 1.055555556em;
  margin-top: 1.05555556em;
  margin-bottom: 0.52777778em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.583333334em;
  margin-top: 0.79166667em;
  margin-bottom: 0.79166667em;
}
h4 {
  font-size: 1em;
  line-height: 1.1875em;
  margin-top: 1.1875em;
  margin-bottom: 1.1875em;
}
p{
  margin: 0 0 ($gutter / 2) 0;
  line-height:1.2em;
  img {
    margin: 0;
  }
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
img{max-height:100%;max-wdith:100%;}
/*================ Blockquotes ================*/
blockquote {
  font-size: 1.125em;
  line-height: 1.45;
  font-style: italic;
  margin: 0 0 $gutter;
  padding: ($gutter / 2) $gutter;
  border-left: 1px solid $colorBorder;

  p {
    margin-bottom: 0;

    & + cite {
      margin-top: $gutter / 2;
    }
  }

  cite {
    display: block;
    font-size: 0.75em;

    &:before {
      content: '\2014 \0020';
    }
  }
}

/*================ Code ================*/
code, pre {
  background-color: #faf7f5;
  font-family: Consolas,monospace;
  font-size: 1em;
  border: 0 none;
  padding: 0 2px;
  color: #51ab62;
}

pre {
  overflow: auto;
  padding: $gutter / 2;
  margin: 0 0 $gutter;
}

/*================ Horizontal Rules ================*/
hr {
  clear: both;
  border-top: solid $colorBorder;
  border-width: 1px 0 0;
  margin: $gutter 0;
  height: 0;

  &.hr--small {
    margin: ($gutter / 2) 0;
  }

  &.hr--clear {
    border-top-color: transparent;
  }
}

/*================ Section Headers ================*/
.section-header {
  margin-bottom: $gutter / 1.5;
}

@include at-query ($min, $large) {
  .section-header {
    display: table;
    width: 100%;
  }

  .section-header__title {
    margin-bottom: $gutter / 2.5;
  }

  .section-header__left {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;

    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
      margin-bottom: 0;
    }
  }

  .section-header__right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 335px;

    @include at-query ($max, $medium) {
      margin-bottom: $gutter;
    }
  }
}

.section-header__right {
  .form-horizontal,
  .collection-view {
    display: inline-block;
    vertical-align: middle;
  }

  @include at-query ($min, $postSmall) {
    label + select,
    .collection-view {
      margin-left: $gutter / 2;
    }
  }
}

.collection-view {
  display: inline-block;
  border: 1px solid $colorBorder;
  border-radius: $radius;
  padding: 0 5px;
  height: 37px; // same as form elements
  overflow: hidden;

  /*================ Only show on larger screens ================*/
  @include at-query ($min, $large) {
    display: inline-block;
  }
}

.change-view {
  display: block;
  background: none;
  border: 0 none;
  float: left;
  padding: 10px 8px;
  color: $colorBorder;
  line-height: 1;

  &:hover,
  &:focus {
    color: $colorPrimary;
  }
}

.change-view--active {
  cursor: default;
  color: $colorPrimary;
}

/*============================================================================
  #Rich Text Editor
==============================================================================*/
.rte {
  margin-bottom: $gutter / 2;

  a {
    text-decoration: underline;
  }

  // Add some top margin to headers from the rich text editor
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }

    a {
      text-decoration: none;
    }
  }

  > div {
    margin-bottom: $gutter / 2;
  }

  li {
    margin-bottom: 0.4em;
  }
}

.rte--header {
  margin-bottom: 0;
}

/*============================================================================
  #Links and Buttons
==============================================================================*/
a,
.text-link {
  color: $colorLink;
  text-decoration: none;
  background: transparent;
}

a:hover,
a:focus {
  color: $colorLinkHover;
}

button {
  overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.btn,
.rte .btn {
  display: inline-block;
  padding: 8px 10px;
  width: auto;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  @include user-select(none);
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: $radius;

  /*================ Set primary button colors - can override later ================*/
  background-color: $colorBtnPrimary;
  color: $colorBtnPrimaryText;

  &:hover {
    background-color: $colorBtnPrimaryHover;
    color: $colorBtnPrimaryText;
  }

  &:active,
  &:focus {
   background-color: $colorBtnPrimaryActive;
   color: $colorBtnPrimaryText;
  }

  &[disabled],
  &.disabled {
    cursor: default;
    color: $disabledBorder;
    background-color: $disabledGrey;
  }
}

.btn--secondary,
.rte .btn--secondary {
  @extend .btn;
  background-color: $colorBtnSecondary;

  &:hover {
    background-color: $colorBtnSecondaryHover;
    color: $colorBtnSecondaryText;
  }

  &:active,
  &:focus {
   background-color: $colorBtnSecondaryActive;
   color: $colorBtnSecondaryText;
  }
}

.btn--small {
  padding: 4px 5px;
  font-size: em(12px);
}

.btn--large {
  padding: 12px 15px;
  font-size: em(16px);
}

.btn--full {
  width: 100%;
}

/*================ Force an input/button to look like a text link ================*/
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

/*============================================================================
  #Lists
==============================================================================*/
ul, ol {
  margin: 0 0 ($gutter / 2) 20px;
  padding: 0;
}

ol { list-style: decimal; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 20px; }
li { margin-bottom: 0.25em; }

ul.square { list-style: square outside; }
ul.disc { list-style: disc outside; }
ol.alpha { list-style: lower-alpha outside; }

.no-bullets {
  list-style: none outside;
  margin-left: 0;
}

.inline-list {
  margin-left: 0;

  li {
    display: inline-block;
    margin-bottom: 0;
  }
}

/*============================================================================
  #Tables
==============================================================================*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.full {
  width: 100%;
  margin-bottom: 1em;
}

.table-wrap {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

th {
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: $gutter / 2;
  border: 1px solid $colorBorder;
}

/*============================================================================
  Responsive tables, defined with .table--responsive on table element.
  Only defined for IE9+
==============================================================================*/
.table--responsive {
  @include at-query($max, $small) {
    thead {
      display: none;
    }

    tr {
      display: block;
    }

    // IE9 table layout fixes
    tr,
    td {
      float: left;
      clear: both;
      width: 100%;
    }

    th,
    td {
      display: block;
      text-align: right;
      padding: 15px;
    }

    td:before {
      content: attr(data-label);
      float: left;
      text-align: center;
      font-size: 12px;
      padding-right: 10px;
    }

    &.cart-table {
      img {
        margin: 0 auto;
      }

      .js-qty {
        float: right;
      }
    }
  }
}

@include at-query($max, $small) {
  .table--small-hide {
    display: none !important;
  }

  .table__section + .table__section {
    position: relative;
    margin-top: 10px;
    padding-top: 15px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      border-bottom: 1px solid $colorBorder;
    }
  }
}


/*============================================================================
  #OOCSS Media Object
    - http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
==============================================================================*/
.media,
.media-flex {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media-img {
  float: left;
  margin-right: $gutter;
}

.media-img-right {
  float: right;
  margin-left: $gutter;
}

.media-img img,
.media-img-right img {
  display: block;
}


/*============================================================================
  #Images and Iframes
==============================================================================*/
img {
  border: 0 none;
}

svg:not(:root) {
  overflow: hidden;
}

img,
iframe {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*============================================================================
  #Forms
==============================================================================*/
form {
  margin-bottom: 0;
}

.form-vertical {
  margin-bottom: $gutter / 2;
}

/*================ Prevent zoom on touch devices in active inputs ================*/
@include at-query($max, $medium) {
  input,
  textarea {
    font-size: 16px;
  }
}

input,
textarea,
button,
select {
  padding: 0;
  margin: 0;
  @include user-select(text);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

input[type="image"] {
  padding-left: 0;
  padding-right: 0;
}

fieldset {
  border: 1px solid $colorBorder;
  padding: $gutter / 2;
}

legend {
  border: 0;
  padding: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input,
textarea,
select {
  border: 1px solid $colorBorder;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: $radius;

  &:focus {
    border: 1px solid darken($colorBorder, 10%);
  }

  &[disabled],
  &.disabled {
    cursor: default;
    background-color: $disabledGrey;
    border-color: $disabledBorder;
  }

  &.input-full {
    width: 100%;
  }
}

textarea {
  min-height: 100px;
}

/*================ Input element overrides ================*/
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
  width: auto;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
}

input[type="image"] {
  padding-left: 0;
  padding-right: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right center;
  background: {
    image: url('{{ "ico-select.svg" | asset_url }}');
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 and below ================*/
  .ie9 &,
  .lt-ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

optgroup {
  font-weight: bold;
}

// Force option color (affects IE only)
option {
  color: #000;
  background-color: #fff;
}

select::-ms-expand {
  display: none;
}

/*================ Form labels ================*/
.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  margin-bottom: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  // No placeholders, so force show labels
  .ie9 &,
  .lt-ie9 & {
    position: static;
    height: auto;
    width: auto;
    margin-bottom: 2px;
    overflow: visible;
    clip: initial;
  }
}

label[for] {
  cursor: pointer;
}

/*================ Horizontal Form ================*/
.form-vertical {
  input,
  select,
  textarea {
    display: block;
    margin-bottom: 30px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
  }
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.error {
    border-color: $errorRed;
    background-color: $errorRedBg;
    color: $errorRed;
  }
}

label.error {
  color: $errorRed;
}


/*================ Input Group ================*/
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  .input-group-field:first-child,
  .input-group-btn:first-child,
  .input-group-btn:first-child > .btn,
  input[type="hidden"]:first-child + .input-group-field,
  input[type="hidden"]:first-child + .input-group-btn > .btn {
    border-radius: $radius 0 0 $radius;
  }

  .input-group-field:last-child,
  .input-group-btn:last-child > .btn {
   border-radius: 0 $radius $radius 0;
  }

  input {
    // Nasty Firefox hack for inputs http://davidwalsh.name/firefox-buttons
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
      margin-top: -1px;
      margin-bottom: -1px;
    }
  }
}

.input-group-field,
.input-group-btn {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.input-group .btn,
.input-group .input-group-field {
  height: 37px;
}

.input-group .input-group-field {
  width: 100%;
}

.input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
}

/*============================================================================
  #Icons
==============================================================================*/
.icon-fallback-text .icon {
  display: none;

  .supports-fontface & {
    display: inline-block;
  }
}

/*============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
==============================================================================*/
.supports-fontface .icon-fallback-text .fallback-text {
  @extend .visually-hidden;
}

.icon:before {
  display: none;
}

.supports-fontface .icon:before {
  display: inline;
  font-family: $socialIconFontStack;
  text-decoration: none;
  speak: none; // future fallback, limited in effect currently
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*================ Icon mapping ================*/
.icon-american_express:before { content: "\41"; }
.icon-arrow-down:before { content: "\e607"; }
.icon-bitcoin:before { content: "\42"; }
.icon-cart:before { content: "\e600"; }
.icon-cirrus:before { content: "\43"; }
.icon-dankort:before { content: "\64"; }
.icon-diners_club:before { content: "\63"; }
.icon-discover:before { content: "\44"; }
.icon-facebook:before { content: "\66"; }
.icon-fancy:before { content: "\46"; }
.icon-google:before { content: "\67"; }
.icon-google_wallet:before { content: "\47"; }
.icon-grid-view:before { content: "\e603"; }
.icon-hamburger:before { content: "\e601"; }
.icon-instagram:before { content: "\69"; }
.icon-interac:before { content: "\49"; }
.icon-jcb:before { content: "\4a"; }
.icon-list-view:before { content: "\e604"; }
.icon-maestro:before { content: "\6d"; }
.icon-master:before { content: "\4d"; }
.icon-minus:before { content: "\e602"; }
.icon-paypal:before { content: "\50"; }
.icon-pinterest:before { content: "\70"; }
.icon-plus:before { content: "\e605"; }
.icon-rss:before { content: "\72"; }
.icon-search:before { content: "\73"; }
.icon-stripe:before { content: "\53"; }
.icon-tumblr:before { content: "\74"; }
.icon-twitter:before { content: "\54"; }
.icon-vimeo:before { content: "\76"; }
.icon-visa:before { content: "\56"; }
.icon-x:before { content: "\e606"; }
.icon-youtube:before { content: "\79"; }

.payment-icons {
  @include user-select(none);
  cursor: default;

  li {
    margin: 0 ($gutter / 4) ($gutter / 4);
    color: {{ settings.color_footer_social_link }};
    cursor: default;
  }

  .icon {
    font-size: 30px;
    line-height: 30px;
  }

  .fallback-text {
    text-transform: capitalize;
  }
}

.social-icons li {
  margin: 0 ($gutter / 2) ($gutter / 2);
  vertical-align: middle;

  @include at-query ($min, $postSmall) {
    margin-left: 0;
  }

  .icon {
    font-size: 30px;
    line-height: 26px;
  }
  a{
    color:$colorPrimary;
    opacity:0.6;
    &:hover{opacity:1;}
  }
}


/*============================================================================
  #Pagination
==============================================================================*/
.pagination {
  margin-bottom: 1em;
  text-align: center;

  > span {
    display: inline-block;
    line-height: 1;
  }

  a {
    display: block;
  }

  a,
  .page.current {
    padding: 8px;
  }
}

/*============================================================================
  #Site Header
==============================================================================*/
.site-header {
  padding: ($gutter / 2) 0;

  .grid--table {
    display: table;
    table-layout: fixed;
    width: 100%;

    > .grid__item {
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.site-header__logo {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;

  @include at-query ($min, $large) {
    text-align: left;
  }

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  a, img {
    display: block;
  }

  img {
    margin: 0 auto;
  }
}

.site-header__logo-link {
  max-width: 450px; // max upload size
  margin: 0 auto;
}

.site-header__cart-toggle {
  display: inline-block;
}

.site-header__search {
  display: inline-block;
  max-width: 400px;
  margin-top: $gutter / 2;
  width: 100%;
}

.search-bar {
  max-width: 100%;

  @include at-query ($max, $medium) {
    margin-left: auto;
    margin-right: auto;
  }
}

/*============================================================================
  #Site Nav and Dropdowns
==============================================================================*/
.nav-bar {
  background-color: $colorNav;
}

.site-nav {
  font-size: em(16px);
  cursor: default;
  margin: 0 0 0 (-$gutter / 2);

  li {
    margin: 0;
    display: block;
  }

  > li {
    position: relative;
    display: inline-block;
  }
}

/*================ Home to hamburger and cart that toggle drawers ================*/
.site-nav--mobile {
  @extend .site-nav;

  .text-right & {
    margin: 0 (-$gutter / 2) 0 0;
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  padding: $gutter / 2;
  white-space: nowrap;
  color: $colorNavText;

  &:hover,
  &:active,
  &:focus {
    color: darken($colorNavText, 15%);
  }

  .icon-arrow-down {
    position: relative;
    top: -2px;
    font-size: 10px;
    padding-left: $gutter / 4;
  }

  .site-nav--active > & {
    font-weight: bold;
  }

  .site-nav--mobile & {
    display: inline-block;
  }
}

/*================ Dropdowns ================*/
.site-nav__dropdown {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: $zindexNavDropdowns;

  .supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
    display: block;
  }

  a {
    background-color: $colorNav;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($colorNav, 10%);
    }
  }
}

/*================ Search bar in header ================*/
.nav-search {
  position: relative;
  padding: 10px 0;

  @include at-query ($max, $medium) {
    padding: 0 0 ($gutter / 2);
    margin: 0 auto;
    text-align: center;
  }
}

/*============================================================================
  #Mobile Nav
  - List of items inside the mobile drawer
==============================================================================*/
.mobile-nav {
  // Negative of .drawer left/right padding for full-width link tap area
  margin: (-$gutter / 2) (-$gutter / 2) 0 (-$gutter / 2);

  li {
    margin-bottom: 0;
  }
}

.mobile-nav__search {
  padding: $gutter / 2;

  .search-bar {
    margin-bottom: 0;
  }
}

.mobile-nav__item {
  position: relative;
  display: block;

  // Background color on top level items so there is no
  // element overlap on subnav's CSS toggle animation
  .mobile-nav > & {
    background-color: $colorDrawers;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: $gutter / 2;
    right: $gutter / 2;
    border-bottom: 1px solid $colorDrawerBorder;
  }

  .mobile-nav > &:last-child:after {
    display: none;
  }
}

// Login/logout links can't have a class on them, so style <a> element
.mobile-nav__item a {
  display: block;
}

.mobile-nav__item a,
.mobile-nav__toggle button {
  color: $colorDrawerText;
  padding: $gutter / 2;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: darken($colorDrawerText, 15%);
  }

  &:active,
  &:focus {
    background-color: darken($colorDrawers, 5%);
  }
}

.mobile-nav__item--active {
  font-weight: bold;
}

.mobile-nav__has-sublist {
  display: table;
  width: 100%;

  .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

.mobile-nav__toggle {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.mobile-nav__toggle-open {
  .mobile-nav--expanded & {
    display: none;
  }
}

.mobile-nav__toggle-close {
  display: none;

  .mobile-nav--expanded & {
    display: block;
  }
}

.mobile-nav__sublist {
  margin: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  @include backface();

  .mobile-nav--expanded + & {
    visibility: visible;
    max-height: 700px;
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  }

  .mobile-nav__item:after {
    top: 0;
    bottom: auto;
  }

  .mobile-nav__link {
    padding-left: $gutter;
    font-weight: normal;
  }
}

/*============================================================================
  #Drawers
==============================================================================*/
.js-drawer-open {
  overflow: hidden;
}

.drawer {
  display: none;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  padding: 0 ($gutter / 2) ($gutter / 2);
  max-width: 95%;
  z-index: $zindexDrawer;
  color: $colorDrawerText;
  background-color: $colorDrawers;
  transition: $drawerTransition;

  a {
    color: $colorDrawerText;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  input,
  textarea {
    border-color: $colorDrawerBorder;
  }
}

.drawer--left {
  width: $drawerNavWidth;
  left: -$drawerNavWidth;
  border-right: 1px solid $colorDrawerBorder;

  .js-drawer-open-left & {
    display: block;
    @include transform(translateX($drawerNavWidth));

    .lt-ie9 & {
      left: 0;
    }
  }
}

.drawer--right {
  width: $drawerCartWidth;
  right: -$drawerCartWidth;
  border-left: 1px solid $colorDrawerBorder;

  .js-drawer-open-right & {
    display: block;
    @include transform(translateX(-$drawerCartWidth));

    .lt-ie9 & {
      right: 0;
    }
  }
}

#PageContainer {
  overflow: hidden;
}

.is-moved-by-drawer {
  transition: $drawerTransition;

  .js-drawer-open-left & {
    @include transform(translateX($drawerNavWidth));
  }

  .js-drawer-open-right & {
    @include transform(translateX(-$drawerCartWidth));
  }
}

.drawer__header {
  display: table;
  height: 70px;
  width: 100%;
  margin-bottom: $gutter / 2;
  border-bottom: 1px solid $colorDrawerBorder;
}

.drawer__title,
.drawer__close {
  display: table-cell;
  vertical-align: middle;
}

.drawer__title {
  width: 100%;
}

.drawer__close {
  width: 1%;
  text-align: center;
  font-size: em(18px);
}

.drawer__close button {
  position: relative;
  right: -20px;
  height: 100%;
  padding: 0 20px;
  color: inherit;

  &:active,
  &:focus {
    background-color: darken($colorDrawers, 5%);
  }
}


/*============================================================================
  #Product and Collection Grids
==============================================================================*/
.grid__image {
  display: block;
  margin: 0 auto ($gutter / 2);
  img {
    display: block;
    margin: 0 auto;
  }
}

.square__image{
  position:relative;
  border:1px solid $colorSecondary;
  margin:0 auto;
  &:before{
    content:"";
    display:block;
  padding-top:100%;
  }
  .square-container{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    line-height:1;
    padding: 5px;
    img{
      margin: auto auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
    }
  }
}

/*============================================================================
  #Collection Filters
==============================================================================*/
.filter--active {
  font-weight: bold;
}

/*============================================================================
  #Breadcrumbs
==============================================================================*/
.breadcrumb {
  margin-bottom: $gutter;

  a,
  span {
    display: inline-block;
    padding: 0 7px 0 0;
    margin-right: 7px;

    &:first-child {
      padding-left: 0;
    }
  }
}


/*============================================================================
  #Product Page
==============================================================================*/
.product-single__variants {
  display: none;

  .no-js & {
    display: block;
  }
}

.product-single__photos {
  margin-bottom: $gutter;
}

.product-single__photos,
.product-single__thumbnails {
  a, img {
    display: block;
    margin: 0 auto;
  }

  li {
    margin-bottom: $gutter;
  }
}


/*============================================================================
  #Notes and Form Feedback
==============================================================================*/
.note,
.errors {
  border-radius: $radius;
  padding: 6px 12px;
  margin-bottom: $gutter / 2;
  border: 1px solid transparent;
  font-size: 0.9em;
  text-align: left;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.note {
  border-color: $colorBorder;
}

.errors {
  ul {
    list-style: disc outside;
    margin-left: 20px;
  }
}

.form-success {
  color: $successGreen;
  background-color: $successGreenBg;
  border-color: $successGreen;

  a {
    color: $successGreen;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-error,
.errors {
  color: $errorRed;
  background-color: $errorRedBg;
  border-color: $errorRed;

  a {
    color: $errorRed;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}


/*============================================================================
  #Cart Page
==============================================================================*/
.cart__row {
  position: relative;
  margin-top: $gutter;
  padding-top: $gutter;
  border-top: 1px solid $colorBorder;

  &:first-child {
    margin-top: 0;
  }

  &:first-child {
    padding-top: 0;
  }

  .js-qty {
    margin: 0 auto;
  }
}

.cart-table {
  th {
    font-weight: normal;
  }

  td,
  th {
    padding: 30px 15px;
    border: none;
  }
}

@include at-query ($min, $large) {
  .cart__row--table-large {
    display: table;
    table-layout: fixed;
    width: 100%;

    .grid__item {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}

.cart__image {
  display: block;

  img {
    display: block;
    max-width: 100%;
  }
}

.cart__subtotal {
  margin: 0 0 0 ($gutter / 3);
  display: inline;
}

.cart__mini-labels {
  display: block;
  margin: ($gutter / 3) 0;
  font-size: em(12px);

  @include at-query ($min, $large) {
    display: none;
  }
}

.cart__remove {
  display: block;
}

/*============================================================================
  #Ajax Cart Styles (conditionally loaded)
==============================================================================*/
{% if settings.ajax_cart_enable %}

.ajaxcart__inner {
  margin-bottom: $gutter;
}

.ajaxcart__row {
  > .grid {
    margin-left: -$gutter / 2;

    > .grid__item {
      padding-left: $gutter / 2;
    }
  }
}

.ajaxcart__product {
  position: relative;
  max-height: 500px;

  &.is-removed {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.57,.06,.05,.95);
    @include backface();
  }
}

.ajaxcart__row {
  padding-bottom: $gutter / 2;
  margin-bottom: $gutter / 2;
  border-bottom: 1px solid $colorDrawerBorder;
}

.ajaxcart__product-image {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
  display: block;
}

.ajaxcart__product-name + .ajaxcart__product-meta {
  padding-top: $gutter / 5;
}

/*================ Quantity Selectors ================*/
.js-qty {
  position: relative;
  margin-bottom: 1em;
  max-width: 100px;
  min-width: 75px;
  overflow: visible;

  input {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 25px;
    margin: 0;
  }
}

.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 8px;
  background: none;
  text-align: center;
  overflow: hidden;
  @include user-select(none);

  &:hover,
  &:focus {
    color: $colorPrimary;
  }
}

.js-qty__adjust--plus {
  right: 0;
  border-left: 1px solid $colorBorder;
}

.js-qty__adjust--minus {
  left: 0;
  border-right: 1px solid $colorBorder;
}

/*================ Quantity Selectors in Ajax Cart ================*/
.ajaxcart__qty {
  @extend .js-qty;
  margin: 0;

  .is-loading & {
    opacity: 0.5;
    transition: none;
  }
}

.ajaxcart__qty-num {
  border-color: $colorDrawerBorder;
  color: $colorDrawerText;
}

.ajaxcart__qty-adjust {
  @extend .js-qty__adjust;
  color: $colorDrawerText;
}

.ajaxcart__qty--plus {
  @extend .js-qty__adjust--plus;
  border-color: $colorDrawerBorder;
}

.ajaxcart__qty--minus {
  @extend .js-qty__adjust--minus;
  border-color: $colorDrawerBorder;
}

{% endif %} // settings.ajax_cart_enable


/*================ Dream Bathrooms ================*/
//include in table
@mixin fancy-table($color){ 
  line-height:1.6em;
  background-color: #ffffff;
  border:2px solid $color;
  margin-bottom:1em;
  thead{
    border:2px solid $color;
    font-weight:900;
    font-style:none;
  }
  tbody > tr:hover{background:darken(white, 5%);}
  td{margin-left:1em;}
  a{color:$colorSecondary;border-bottom:1px dotted $colorSecondary;font-weight: 400;}
  h4{text-align:center;font-weight:800;padding:1em;margin:0;}
}

.fancy-table{
  @include fancy-table( {{ settings.large1_color }} );
}

/*================ Layout ================*/

#sidebar{
  background-color:$colorSidebarBg; //settings
  color: $colorPrimary;
  height:100%;
  padding-top:1em;
  padding-bottom: 100px;
  width:15%;
  min-width:200px;
  border-right:1px solid $colorSecondary;

  position:fixed;
  top:0;
  left:0;
  z-index:$stackSidebar;
  .top-container{
    height:140px;
    float:left;
    position:relative;
    width:100%;
    @include at-query ($max, 1475px) {height:125px;} //make the top contianer smaller for small screens
  }
  .main-navigation, .tag-filters {
    position:absolute;
    top:200px;
    left:0;
    right:0;
    bottom:90px;
    overflow-y:auto;
    background-color: #ffffff;
    z-index: 2;
    @include at-query ($max, 1475px) {top:125px;}
    &.has-levels {
      transform: translateX(-100%);
    }
  }
  .tag-filters {
    z-index: 1;
    .icon-hamburger {
      font-size: 20px;
      transform: rotate(90deg);
    }
    .menu {
      margin: 0;
      padding: 0 10px;
      li:not(:first-child) {
        margin-top: 10px;
      }
      a {
        display: block;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid lighten($colorPrimary, 10%);
        border-radius: 3px;
        color: lighten($colorPrimary, 10%);
      }
      label {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 600;
        margin-left: 3px;
      }
      select {
        border: 1px solid $colorPrimary;
        width: 100%;
      }
    }
    .tag-filter-active a {
      position: relative;
      padding-right: 30px;
      &:after {
        display: inline;
        font-family: "icons";
        text-decoration: none;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e606";
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -0.54em;
      }
    }
  }
  #logo{
    padding:0 20px;
    margin:0 auto;
    text-align: center;
    height:100%;
  }
  h3{font-size:20px;margin-left:20px}
  .menu{
    padding-left:20px;
    font-weight:300;
    list-style-type:none;
    @include at-query ($max, 1150px) {padding-left:10px;}
    ul{
      list-style-type:none;
      margin:0;
    }
    li ul{display:none;}
    .open{display:block;}
    .title{
      padding:0;
      margin:0;
      font-weight:600;
    }
    hr{margin: 0.2em;}
  }
}
.sidebar-footer{
  border-top:1px solid $colorSecondary;
  bottom:0;
  padding:1em;
  position:absolute;
  width:calc( 100% + 1em);
  height:90px;
  text-align:center;
  margin-left:-1em;
  h4{margin:0 auto 0.5em;}
}

.sidebar-footer:hover{
  li:first-child a {
    color: {{ settings.large1_color }};
  }
  li:nth-child(2) a {
    color: {{ settings.large2_color }};
  }
  li:nth-child(3) a {
    color: {{ settings.large3_color }};
  }
}

#header{
  background:#3b4b5a;
  color:white;
  height:35px;
  line-height:35px;
  width:85%;
  max-width: calc( 100% - 150px );
  padding:0 20px;

  position:absolute;
  top:0;
  right:0;
  z-index:$stackHeader;
}

.header-menu{
  color:white;
  font-style: italic;
  list-style-type:none;
  margin:0;
  padding:0;

  li{
    display:inline;
    a{
      color:inherit;
      &:hover{color:darken(#fff, 10%);}
    }
  }
  &.left-menu{
    text-align:left;
    li{padding-left:1em;}
  }
  &.right-menu{
    text-align:right;
    li{padding-right:1em;}
  }
}

#search-bar-menu, .newsletter-small, .newsletter-large{
  text-align:center;
  .search-bar{
    height:25px;margin-top:5px;
  }
  .input-group-field{
    height:25px;
    border: 1px solid white;
    background: rgba(0,0,0,0);
    line-height: 25px;
    border-radius:0px;
    color:white;
    &:active, &:focus{
      outline: none;
      box-shadow: inset 0px 0px 5px 0px #dddddd;
      color:white;
    }
  }
  .btn{
    height:25px;
    display:block;
    padding: 0px 10px;
    border:1px solid white;
    border-radius:0px;
  }
}

#main{
  background:$colorBody;
  float: right;
  margin-top: 35px;
  padding-top:20px;
  padding-bottom: 20px;
  width: 85%;
  max-width: calc( 100% - 200px );
}

.site-footer{
  background:$colorFooterBg;
  color: $colorFooterText;
  float: right;
  padding: $gutter 0;
  width: 85%;
  max-width: calc( 100% - 200px );
  @include at-query ($min, $large) {
    padding: ($gutter * 2) 0;
  }
  .grid-container{background:rgba(0,0,0,0.3)}
  .wrapper .newsletter-small{
    margin-top:20px;
    @include at-query ($min, $xlarge) {display:none;}
  }
  .wrapper .newsletter-large{
    display:none;
    @include at-query ($min, $xlarge) {display:flex;}
  }
}

.footer-links{
  list-style-type:none;
  li:first-child{font-weight:bold}
}

.newsletter-small, .newsletter-large{
  .input-group-field{padding: 20px;}
  .btn{padding: 20px;line-height: 0;}
}

.large-block, .small-block, .brand-block{
  position:relative;
  width:100%;
  padding-bottom:153.33%;
  margin-bottom: 20px;
  .content{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    a{display:block;height:100%;width:100%;}
    img{
      max-width: 90%;
      max-height: 60%;
      margin: 0 auto;
      display: block;
      bottom: 1em;
      position: absolute;
      left: 0;
      right: 0;
    }
    }
  .block-header{
    width:100%;
    height:10%;
    font-size:3em;
    color:white;
    text-align:center;
    font-weight:800;
    line-height:100%;
    padding:1em 0;
    text-decoration:underline;
    a{color:inherit;}
  }
}

.small-block{
  padding-bottom:66.66%;
  .content{
    .slider img{max-height:none;height:100%;max-width:none;bottom:0;overflow-y:hidden;}
  }
  .block-header{font-size:2em;}
}

#large1{
  background:{{ settings.large1_color }};
  &:hover{
    
  }

}
#large2{
  background:{{ settings.large2_color }};
}
#large3{
  background:{{ settings.large3_color }};
}
#large4{
  background:{{ settings.large4_color }};
}
#large5{
  background:{{ settings.large5_color }};
}
#large6{
  background:{{ settings.large6_color }};
}

#small1{
  background:{{ settings.small1_color }};
  &.full-bg{
    background:url('{{ "small1_img.png" | asset_url }}') center center;
    background-size: cover;
  }
}
#small2{
  background:{{ settings.small2_color }};
  &.full-bg{
    background:url('{{ "small2_img.png" | asset_url }}') center center;
    background-size: cover;
  }
}
#small3{
  background:{{ settings.small3_color }};
  &.full-bg{
    background:url('{{ "small3_img.png" | asset_url }}') center center;
    background-size: cover;
  }
}
#small4{
  background:{{ settings.small4_color }};
  &.full-bg{
    background:url('{{ "small4_img.png" | asset_url }}') center center;
    background-size: cover;
  }
}
#small5{
  background:{{ settings.small5_color }};
  &.full-bg{
    background:url('{{ "small5_img.png" | asset_url }}') center center;
    background-size: cover;
  }
}
#small6{
  background:{{ settings.small6_color }};
  &.full-bg{
    background:url('{{ "small6_img.png" | asset_url }}') center center;
    background-size: cover;
  }
}

.brand-block{
  padding-bottom:60%;
  .content{background:white;}
}

.grid-container{
  background:white;
  padding:1em 2em;
}
.product-single, .collection, .template-page{
  .breadcrumb{margin-left:20px;color:$colorSecondary;}
  h1, h2, h3{
    color:$colorSecondary;
    font-family:$headerFontStack;
    font-weight:$headerFontWeight;
    text-align:center;
    font-size:2.2em;
    text-transform:uppercase;
  }
  h2 {font-size:2em}
  h3 {font-size:1.6em}
}

.collection{
  .grid__item:nth-of-type(6n+6){.content{background-color:{{ settings.large6_color }} }}
  .grid__item:nth-of-type(6n+5){.content{background-color:{{ settings.large5_color }} }}
  .grid__item:nth-of-type(6n+4){.content{background-color:{{ settings.large4_color }} }}
  .grid__item:nth-of-type(6n+3){.content{background-color:{{ settings.large3_color }} }}
  .grid__item:nth-of-type(6n+2){.content{background-color:{{ settings.large2_color }} }}
  .grid__item:nth-of-type(6n+1){.content{background-color:{{ settings.large1_color }} }}
  .block-header{font-size:1.6em;}

  .description{margin:2em;}
}

.product-item {
  padding: 20px;
  border: 1px solid rgba(55, 41, 41, 0.22);
  border: 2px solid {{ settings.large1_color }};
  margin-bottom: 20px;
  @include clearfix;
  &:hover {
    background: #f9f9f9;
    .product-name {
      color: $colorLinkHover;
    }
  }
  .square__image {
    border: 0;
    border-bottom: 1px solid rgba(55, 41, 41, 0.22);
    border-bottom: 2px solid {{ settings.large1_color }};
    margin-bottom: 20px;
    background: #ffffff;
    
  }
  .product-item-name {
    display: table;
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    a {
      display: table-cell;
      vertical-align: middle;
      font-weight: 600;
    }
  }
  .product-item-price {
    font-weight: 900;
    color: $colorPrimary;
    line-height: 1.2em;
    .normal {
      font-weight: 200;
    }
    strong {
      color: {{ settings.large1_color }};
      &.sale {
        color: {{ settings.large2_color }};
      }
    }
  }
}

.product-single{
  .product-description{
    line-height:1.6em;
    a{font-weight:bold}
    p{line-height:1.6rem}
  }
  .product-price{
    max-width:50%;
    float:left;
    #ProductPrice{margin-top:0.4em;}
  }
  .product-quantity{
    max-width:49%;
    float:right;
    margin-bottom: 20px;
    label{font-style: italic;maring:0.1em 0;}
  }
.product-right{margin-top:20px;}
  hr{border:none;}
  button{
    color:white;
    background:{{ settings.large2_color }};
    border-radius:0px;
    border:2px solid white;
    box-shadow:0 0 0 2px {{ settings.large2_color }};
    &:hover{background:darken( {{ settings.large2_color }}, 5%);box-shadow:0 0 0 2px darken( {{ settings.large2_color }}, 5%);color:white;}
  }
  #AddToCart{
    width:100%;box-shadow:0 0 0 2px {{ settings.large5_color }};background:{{ settings.large5_color }};margin-bottom:20px;
    &:hover{box-shadow:0 0 0 3px darken( {{ settings.large5_color }}, 5%);background:darken( {{ settings.large5_color }}, 5%);}
  }
  .js-qty, .ajaxcart__qty{max-width: 115px;}
  table{@include fancy-table( $colorPrimary );}
  .grid-flex{}
  .product-single__thumbnails hr{ padding:0;margin:0;border-bottom:2px solid $colorPrimary;}
  .table-container{margin-top:20px;@include at-query ($max, $large) {display:none;}}
  .selector-wrapper{
    select{border-radius:0;border:2px solid black;width:100%;}
    label{font-weight:800;}
  }
}

.product-images-container{
  border:2px solid $colorPrimary;
  padding-left:0 !important;
  .product-single__photo.has-thumbnails{border-right:2px solid $colorPrimary;padding:5px;align-items:center;display: flex;}
}

.related-container{
  margin-top:20px;
  @include at-query ($min, $xlarge) {
    margin-top:0;
  }
}

.map-block{
  position:relative;
  width:100%;
  margin-bottom: 20px;
  padding-bottom: 30%;
  @include at-query ($min, $xlarge) {
    padding-bottom: 109.7326377567656%;
  }
  .content{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:white;
    color:$colorSecondary;
    h2, h3{
      @include at-query ($min, $xlarge) {text-align:center;}
    }
  }
  .header-container{
    position:relative;
    float:left;
    padding: 0 2em;
    width:50%;
    @include at-query ($min, $xlarge) {height:auto;width:100%;float:none;}
  }
  .map-container{
    width: 50%;
    height:100%;
    position: relative;
    margin: 0 auto;
    border: 10px solid {{ settings.large1_color }};
    float:right;
    @include at-query ($min, $xlarge) {width: 80%;padding-bottom: 60%;float:none;height:auto;}
  }
  .address, .contact{
    width:24%;
    position:relative;
    float:left;
    @include at-query ($min, $xlarge) {width:40%}
    }
  .address{
    padding-left:2em;
    @include at-query ($min, $xlarge) {margin-left:10%;padding:0;}
  }
}
.contact a{color:$colorSecondary;border-bottom:1px solid $colorSecondary;}

.slider{
  height:100%;
  width:100%;
  .slick-list{height:100%;}
  .slick-track{height:100%;}
  .slick-prev{
    bottom:15px;
    width:35px;
    height:35px;
    &:before{font-size:35px;color:white;}
  }

  .slick-next{@extend .slick-prev;}
  .slick-dots{
    bottom:20px;
    li button:before, .slick-active button:before{color:white;}
  }
}

.cart-toggle {cursor:pointer}

.grid-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  .grid__item{
    display:flex;
    .grid-container{width:100%;}
  }
  &.flex-column{flex-direction: column;}
  &.medium-down-column{
    @include  at-query ($max, 1200px) {
      flex-direction: column;
    };
  }
}

$btn-404:  {{ settings.large2_color }};

.template-404 {
  h2{color: {{ settings.large1_color }} }
  .btn_home{
    background:white;
    box-shadow: 0 0 0 1px white, 0 0 0 3px $btn-404, 0 0 0 5px white;
    color:$btn-404;
    border-radius:0;
    margin:1em auto;
    &:hover{
      transition:0.6s ease all;
      box-shadow: 0 0 0 2px white, 0 0 0 8px $btn-404, 0 0 0 10px white;
    }
  }
}

.block-flex{
  margin-top:20px;
  color:white;
  table{@include fancy-table( {{ settings.large1_color }} );color:$colorPrimary;}
  .content{padding:2em;width:100%;}
  h3{text-align:center;color:white;}
  &:nth-of-type(3n+1){.content{background:{{ settings.large1_color }};}}
  &:nth-of-type(3n+2){.content{background:{{ settings.large2_color }};}}
  &:nth-of-type(3n+3){.content{background:{{ settings.large3_color }};}}
  table{
    color:white;
    background-color:rgba(255,255,255,0.1);
    tr{border:1px solid white;}
    tbody>tr:hover{background:rgba(255,255,255,0.2);}
    
  }
}

.contact-flex{
  .map-content{
    position:relative;
    @include  at-query ($max, 1200px) {.header{width:40%;display:block;}};
    .map-container{position:absolute;top:10em;bottom:0;left:0;right:0;
      @include  at-query ($max, 1200px) {top:0;left:40%;};
    }
  }
  .contact-table{
    @include  at-query ($max, 1200px) {position:relative;float:left;width:50%;};
    table{
      border-color:white;
      a{color:white;    border-bottom: 1px solid white;}
    }
  }
  .address-container{
    @include  at-query ($max, 1200px) {
      position:relative;
      float:right;
      width:49%;
      padding-left:20px;
      h4{margin:0}
    }
  }
}

.contact-form{
  .input-full{    
    border-radius: 0;
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-bottom: 2px solid white;
    color: white;
  }
  label{color:white;}
  ::-webkit-input-placeholder {
     color: white;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: white;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: white;  
  }

  :-ms-input-placeholder {  
     color: white;  
  }
  .btn{
    color:{{ settings.large1_color }};
    background:white;
    border-radius:0px;
    border:2px solid {{ settings.large1_color }};
    box-shadow:0 0 0 2px white;
    &:hover{box-shadow:0 0 0 3px white;}
  }
}

.page-container{
  padding: 1em 3em 3em 3em;
  }

.help{
  margin-top:20px;
  @include at-query ($min, $xlarge){margin-top:0px;}
}

.side-button{
    margin-left:20px;
    color:$colorSecondary;
    color:$colorSecondary;
    font-weight:600;
  }

#CartDrawer{background:white;border-left:5px solid $colorSecondary;}

.c-form{
  background: {{ settings.large1_color }};
}

.sidebar{
  .grid-container:first-child{background:{{ settings.large1_color }};color:white;}
  .grid-container:nth-child(2){background:{{ settings.large2_color }};color:white;margin-top:20px;}
}

.helpful-links{
  color:white;
  list-style-type:none;
  a{color:white;}
  .active{font-weight:800;}
}

.sku{width:100%;text-align:right;margin-bottom:10px;}

.m-top{
  margin-top:20px;
}

.share-container{
  h1{color:white;}
  .slick-next, .slick-prev, .slick-dots{
    bottom:25px;
    &:before, li button:before, li.slick-active button:before {
      color: {{ settings.large1_color }} !important;
      font-size:50px;
    }
  }
}

.share-boxes{
  list-style-type:none;
  display:block;
  font-size:1.4em !important;
  margin:0 auto;
  text-align:center;
  li{
    display: inline-block;
    font-size: 1.8em;
    height: 1.9em;
    text-align: center;
    margin:0.2em;
    color:white;
    &:nth-child(1){color: {{ settings.large1_color }};&:hover{color:lighten({{ settings.large1_color }}, 10% );}}
    &:nth-child(2){color: {{ settings.large2_color }};&:hover{color:lighten({{ settings.large2_color }}, 10% );}}
    &:nth-child(3){color: {{ settings.large3_color }};&:hover{color:lighten({{ settings.large3_color }}, 10% );}}
  }
  a{color:inherit}
}

.share-footer{
  background: #0a1b2c;
  color: #fff;
  float: right;
  padding: 20px 20px 0 20px;
  width: 85%;
  max-width: calc(100% - 200px );
  font-size:0.8em;
  p{color: #747474;}
  .tandc{
    background: rgba(0,0,0,0.3);
    padding: 1em 2em;
  }
}

.dev-test{
  #main{
    margin-top:0px;
  }
  #header{
    background:rgba(0,0,0,0.2);
    position:relative;
    height:auto;
    width: 85%;
    max-width: calc(100% - 200px );
    float:right;
    color: white;
    top:auto;
    right:auto;
    padding-top:20px;
    padding-bottom:20px;
    .header-menu{
      color:white;
    }
    .left-menu{
      & span:nth-of-type(1){font-size:2.5em;font-weight:800;}
      & span:nth-of-type(2){font-size:1.75em;}
    }
  }
  #search-bar-menu{
    text-align:center;
    .search-bar{
      height:45px;margin-top:5px;
    }
    .input-group-field{
      height:45px;
      border: 2px solid white;
      line-height: 45px;
      border-radius:0px;
      color:$colorSecondary;
      &:active, &:focus{
        outline: none;
        box-shadow: inset 0px 0px 5px 0px #dddddd;
        color:$colorSecondary;
        background:rgba(255,255,255,0.1);
      }
    }
    input::-webkit-input-placeholder {color: white;}
    input::-moz-input-placeholder {color: white;}
    input:-moz-input-placeholder {color: white;}
    input:-ms-input-placeholder {color: white;}
    .btn{
      height:45px;
      display:block;
      padding: 0px 10px;
      border-radius:0px;
      background:white;
      border:2px solid white;
      width:90px;
      color:$colorSecondary;
    }
  }
}

// Media Queries

#header {
  @include at-query($max, $medium) {
    height: auto;
    position: static;
  }
}

#header, #main, #sidebar, .site-footer {
  @include at-query ($max, $medium) {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }
}

#sidebar {
  @include at-query ($max, $medium) {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@include at-query ($max, $medium) {
  .medium-down--auto {
    width: auto;
  }
  #search-bar-menu {
    margin: 15px 15px 25px 15px;
    .input-group-field, .btn {
      line-height: 40px;
      min-height: 40px;
      height: 40px;
      font-weight: 500;
    }
    .btn {
      min-width: 100px;
      @include at-query ($max, $small) {
        min-width: 40px;
      }
    }
  }
  .large-block, .small-block, .brand-block {
    margin: 0;
    padding-bottom: 0;
    .content img {
      max-height: 110px;
      margin-bottom: 20px;
    }
  }
  .brand-block .content {
    padding: 20px;
    align-items: center;
    a {
      flex-direction: row !important;
      display: block;
      text-align: center;
    }
    img {
      max-width: 100%;
      flex: initial !important;
      max-height: 100px;
      height: auto;
      width: auto;
      display: inline !important;
      margin: auto;
    }
  }
  .template-index main > .grid, .collection.grid.blocks.with-linklist, #brands main > .grid, .homepage.blocks {
    display: flex;
    flex-wrap: wrap;
    .block-header {
      height: auto;
      flex: 1;
      margin: 0;
      padding: 20px;
      font-size: 1.4em;
      line-height: 1.3em;
      @include at-query ('minmax', '350px', $small) {
        font-size: 1.15em;
        line-height: 1.3em;
      }
    }
    .content {
      position: static;
      a {
        display: flex;
        flex-direction: column;
        img {
          flex: 1;
          position: static;
        }
      }
    }
    .grid__item {
      flex: 30% 1;
      @include at-query ($max, $small) {
        flex: 50% 1;
      }
      @include at-query ($max, '350px') {
        flex: 100% 1;
      }
      display: flex;
      margin-bottom: 20px;
      *:not(.block-header) {
        display: flex;
        flex: 1;
      }
    }
  }
  .template-index main > .grid {
    .grid__item {
      flex-direction: column;
      & > *:first-child + * {
        margin-top: 20px;
      }
    }
    .large-block {
      flex: 2 !important;
    }
    .small-block {
      flex: 1 !important;
      max-height: 200px;
      .content img {
        max-height: 80px;
      }
      .slider {
        display: block;
        min-height: 130px;
        & > div, a {
          display: block;
        }
        img {
          margin: 0 !important;
          max-height: 100% !important;
          display: block;
          width: 100%;
          height: auto;
          max-width: initial;
        }
        .slick-slide {
          position: absolute !important;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
        .slick-track {
          min-height: 500px;
        }
      }
      .slick-slider {
        height: auto;
        margin: 0;
        display: block;
        * {
          display: initial;
        }
        div {
          display: block;
          width: 100%;
        }
        a {
          display: block;
        }
        ul.slick-dots li {
            margin: 4px;
            &:last-child {
              margin-right: 0;
            }
        }
        img {
          width: 100%;
          height: auto;
          max-height: 100%;
          margin: 0 auto;
          display: block;
        }
      }
      /*SLICK SLIDER OVERRIDE*/
      /* Slider */
      .slick-slider{
          position: relative;
          display: block;
          -moz-box-sizing: border-box;
               box-sizing: border-box;

          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;

          -webkit-touch-callout: none;
          -khtml-user-select: none;
          -ms-touch-action: pan-y;
              touch-action: pan-y;
          -webkit-tap-highlight-color: transparent;
      }
      .slick-list {
          position: relative;
          display: block;
          overflow: hidden;
          margin: 0;
          padding: 0;
      }
      .slick-list:focus {
          outline: none;
      }
      .slick-list.dragging {
          cursor: pointer;
          cursor: hand;
      }
      .slick-slider .slick-track, .slick-slider .slick-list {
          -webkit-transform: translate3d(0, 0, 0);
             -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
               -o-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
      }
      .slick-track {
          position: relative;
          top: 0;
          left: 0;
          max-width: 100% !important;
          display: block;
      }
      .slick-track:before, .slick-track:after {
          display: table;
          content: '';
      }
      .slick-track:after {
          clear: both;
      }
      .slick-loading .slick-track {
          visibility: hidden;
      }
      .slick-slide {
          display: none;
          float: left;
          height: 100%;
          min-height: 1px;
      }
      [dir='rtl'] .slick-slide {
          float: right;
      }
      .slick-slide img {
          display: block;
      }
      .slick-slide.slick-loading img {
          display: none;
      }
      .slick-slide.dragging img {
          pointer-events: none;
      }
      .slick-initialized .slick-slide {
          display: block;
      }
      .slick-loading .slick-slide {
          visibility: hidden;
      }
      .slick-vertical .slick-slide {
          display: block;
          height: auto;
          border: 1px solid transparent;
      }
      .slick-arrow.slick-hidden {
          display: none;
      }
      /* END OF SLICK SLIDER OVERRIDE */
    }
    .map-block {
      text-align: center;
      padding: 0;
      margin: 0;
      .content {
        flex-direction: column;
        & > div > * {
          display: initial;
        }
      }
      .header-container {
        width: 100%;
        flex-direction: column;
        text-align: center;
        * { text-align: center; }
      }
      .map-container {
        display: block;
        width: 100%;
        margin: 0;
        height: 300px;
      }
      .address {
        margin: 20px 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0 20px;
        box-sizing: border-box;
        h4, address { text-align: center; }
      }
      .contact {
        flex-direction: column;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
        h4 {
          text-align: center;
        }
      }
    }
  }

  .product-single {
    .selector-wrapper select {
      width: 100%;
    }
  }
}

.site-footer {
  .wrapper > .grid {
    flex-wrap: wrap;
    @include at-query ($max, $medium) {
      .grid__item {
        margin-bottom: 20px;
      }
    }
  }
  @include at-query ($max, $medium) {
    .wrapper .newsletter-small {
      margin-top: 0;
    }
  }
}

.dev-test #header {
  @include at-query($max, $medium) {
    height: auto;
    position: static;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    .left-menu{
      & span:nth-of-type(1){font-size:2em;}
      & span:nth-of-type(2){font-size:1.5em;}
    }
    .right-menu{font-size:0.8em;}
  }
}