<!-- /templates/404.liquid -->
<div class="grid">
  <div class="grid__item one-whole">
    <div class="grid-container">
      <h1 class="text-center">{{ 'general.404.title' | t }}</h1>
      <h2 class="text-center">We can't find the page you were looking for!</h2>
      <p class="text-center">Where to go from here?</p>
    </div>
  </div>
</div>
<div class="grid grid-flex medium-down-column">
  <div class="grid__item block-flex">
    <div class="content">
      <h3>Search</h3>
      <p>Try to find it using the search bar bellow.</p>
      {% include 'search-bar' %}
    </div>
  </div>
  <div class="grid__item block-flex text-center">
    <div class="content">
      <h3>Home</h3>
      <a href="/" class="btn btn_home">Return Home</a>
    </div>
  </div>
  <div class="grid__item block-flex">
    <div class="content">
      <h3>Contact</h3>
      <p>Speak to a member of our team</p>
      <table>
        <tr><td>Phone:</td><td>{{  settings.phone_number }}</td></tr>
        <tr><td>Email:</td><td><a href="mailTo:{{  settings.sales_email }}">{{  settings.sales_email }}</a></td></tr>
        <tr><td>Online:</td><td><a href="/contact-us">Contact Form</a></td></tr>
      </table>
      
    </div>
  </div>
</div>