<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<div class="grid">
  <div class="grid__item">
    <div class="grid-container">
      {% if cart.item_count > 0 %}
        <h1>{{ 'cart.general.title' | t }}</h1>
        <form action="/cart" method="post" novalidate class="cart">
          <table class="cart-table full table--responsive">
            <thead class="cart__row cart__header-labels">
              <th colspan="2" class="text-center">{{ 'cart.label.product' | t }}</th>
              <th class="text-center">{{ 'cart.label.price' | t }}</th>
              <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
              <th class="text-right">{{ 'cart.label.total' | t }}</th>
            </thead>
            <tbody>
              {% for item in cart.items %}
                <tr class="cart__row table__section">
                  <td data-label="{{ 'customer.order.product' | t }}">
                    <a href="{{ item.url | within: collections.all }}" class="cart__image">
                      {% comment %}
                        More image size options at:
                          - http://docs.shopify.com/themes/filters/product-img-url
                      {% endcomment %}
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                    </a>
                  </td>
                  <td>
                    <a href="{{ item.url }}" class="h4">
                      {{ item.product.title }}
                    </a>
                    {% unless item.variant.title contains 'Default' %}
                      <br>
                      <small>{{ item.variant.title }}</small>
                    {% endunless %}

                    {% if settings.cart_vendor_enable %}
                      <p>{{ item.vendor }}</p>
                    {% endif %}

                    {% comment %}
                      Optional, loop through custom product line items if available

                      For more info on line item properties, visit:
                        - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                    {% endcomment %}
                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}
                      {% for p in item.properties %}
                        {% unless p.last == blank %}
                          {{ p.first }}:

                          {% comment %}
                            Check if there was an uploaded file associated
                          {% endcomment %}
                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}

                          <br>
                        {% endunless %}
                      {% endfor %}
                    {% endif %}

                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                      <small>{{ 'cart.general.remove' | t }}</small>
                    </a>
                  </td>
                  <td data-label="{{ 'cart.label.price' | t }}">
                    <span class="h3">
                      {{ item.price | money }}
                    </span>
                  </td>
                  <td data-label="{{ 'cart.label.quantity' | t }}">
                    <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
                  </td>
                  <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
                    <span class="h3">
                      {{ item.line_price | money }}
                    </span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="grid cart__row">
            {% if settings.cart_notes_enable %}
              <div class="grid__item two-thirds small--one-whole">
                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
              </div>
            {% endif %}
            <div class="grid__item text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
              <p>
                <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
                <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
              </p>
              <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
              <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
              <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
            </div>
          </div>
        </form>
      {% else %}
        {% comment %}
          The cart is empty
        {% endcomment %}
        <h2>{{ 'cart.general.title' | t }}</h2>
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      {% endif %}
    </div>
  </div>
</div>