<!-- /templates/collection.liquid -->
{% if linklists[collection.handle].links.size > 0 %}
  <div class="collection grid blocks with-linklist">
    {% for link in linklists.[collection.handle].links %}
      {% if link.type == 'collection_link' %}
        {% assign subcollection = link.object %}
        <div class="grid__item one-third xlarge--one-quarter">
          <div class="small-block">
            <div class="content">
              <a href="{{ link.url }}">
                <div class="block-header">{{ link.title }}</div>
                {% if subcollection.image %}
                  <img src="{{ subcollection | img_url }}" alt="{{ link.title | escape }}">
                {% else %}
                  {% assign product = subcollection.products.first %}
                  <img src="{{ product | img_url }}" alt="{{ link.title | escape }}">
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% paginate collection.products by 8 %}

<div class="collection grid">
  <div class="grid__item one-whole xlarge--three-quarters">
    <div class="grid-container">
      <h1 class="section-header__title"><a href="{{ collection.url }}?view=grid">View All {{ collection.title }}</a></h1>
      {% if collection.description != blank %}
        <div class="description">
          {{ collection.description }}
        </div>
      {% endif %}

      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      <div class="grid-uniform">

        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}

            {% comment %}
              If collection exists but is empty, display message
            {% endcomment %}
            <div class="grid__item">
              <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>

        {% endfor %}
      </div>
    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>
  <div class="grid__item one-whole xlarge--one-quarter">
    <div class="grid-container">
      <h3>Contact Us Today!</h3>
      <div class="contact">
        <h4>Need Help? Can't Find What You're Looking For?</h4>
        <p>We're always happy to help with any inquery, no matter how small.</p>
        <p>Phone: {{  settings.phone_number }}</p>
        <p>Email: <a href="mailTo:{{  settings.sales_email }}">{{  settings.sales_email }}</a></p>
        <p><a href="/">Contact Form</a></p>
      </div>
    </div>
  </div>
</div>

{% endpaginate %}
