<!-- /templates/collection.liquid -->
{% paginate collection.products by 24 %}


{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="collection grid blocks">
  <div class="grid__item one-whole xlarge--three-quarters">
    <div class="grid-container">
      {% include 'breadcrumb' %}
      {% comment %}
        Different markup if a collection description exists
      {% endcomment %}
      {% if collection.description != blank %}
        <header class="section-header">
          <h1 class="section-header__title">{{ collection.title }}</h1>
          <div class="rte rte--header">
            {{ collection.description }}
          </div>
        </header>
        <hr>
        <div class="section-header">
          <div class="section-header__right">
            {% include 'collection-sorting' %}
          </div>
        </div>
      {% else %}
        <header class="section-header">
          <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
          <div class="section-header__right">
            {% include 'collection-sorting' %}
          </div>
        </header>
      {% endif %}
        {% capture CFH %}{{ content_for_header  }}{% endcapture %}{{ CFH }}
        {% if CFH contains 'admin_bar_iframe' %}
            {% assign admin = true %}
        {% endif %}
        {% if admin %}
            <a href="/admin/collections/{{collection.id}}">Edit Collection</a>
        {% endif %}
      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      <div class="grid-uniform">

        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}

            {% comment %}
              If collection exists but is empty, display message
            {% endcomment %}
            <div class="grid__item">
              <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>

        {% endfor %}
      </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}
    </div>

  </div>
  <div class="grid__item one-whole xlarge--one-quarter help">
    <div class="grid-container">
      <h3>Contact Us Today!</h3>
      <div class="contact">
        <h4>Need Help? Can't Find What You're Looking For?</h4>
        <p>We're always happy to help with any inquery, no matter how small.</p>
        <p>Phone: {{  settings.phone_number }}</p>
        <p>Email: <a href="mailTo:{{  settings.sales_email }}">{{  settings.sales_email }}</a></p>
        <p><a href="/">Contact Form</a></p>
      </div>
    </div>
  </div>
</div>

{% endpaginate %}
