{% capture CFH %}{{ content_for_header  }}{% endcapture %}{{ CFH }}
{% if CFH contains 'admin_bar_iframe' %}
    {% assign admin = true %}
{% endif %}

<!-- /templates/collection.liquid -->
{% if linklists[collection.handle].links.size > 0 %}
  <div class="collection grid blocks with-linklist">
    {% for link in linklists.[collection.handle].links %}
      {% if link.type == 'collection_link' %}
        {% assign subcollection = link.object %}
        {% if subcollection.all_products_count > 0 or admin %}
          <div class="grid__item one-third xlarge--one-quarter">
            <div class="small-block">
              <div class="content">
                <a href="{{ link.url }}{% if collection.url == link.url %}?view=grid{% endif %}">
                  <div class="block-header">{{ link.title }}</div>
                  {% if subcollection.image %}
                    <img src="{{ subcollection | img_url: 'medium' }}" alt="{{ link.title | escape }}">
                  {% else %}
                    {% assign product = subcollection.products.first %}
                    <img src="{{ product | img_url: 'medium' }}" alt="{{ link.title | escape }}">
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

<div class="collection grid">
  <div class="grid__item one-whole xlarge--three-quarters">
    <div class="grid-container">
      <h1 class="section-header__title"><a href="{{ collection.url }}?view=grid">View All {{ collection.title }}</a></h1>
      {% if collection.description != blank %}
        <div class="description">
          {{ collection.description }}
        </div>
      {% endif %}
        {% if admin %}
            <a href="/admin/collections/{{collection.id}}">Edit Collection</a>
        {% endif %}
      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      <div class="grid-uniform">
        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% assign num_of_featured = 0 %}
        {% for product in collection.products %}
          {% if product.tags contains 'featured' %}
            {% include 'product-grid-item' %}
            {% assign num_of_featured = num_of_featured | plus: 1 %}
            {% if num_of_featured == 4 %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% for product in collection.products %}
            {% if num_of_featured == 4 %}
              {% break %}
            {% else %}
              {% if product.tags contains 'featured' %}
                {% continue %}
              {% else %}
                {% include 'product-grid-item' %}
                {% assign num_of_featured = num_of_featured | plus: 1 %}
              {% endif %}
            {% endif %}
        {% endfor %}

      </div>
      <hr>
      <div class="pagination">
        <a href="{{ collection.url }}?view=grid">View All {{ collection.title }}</a>
      </div>
    </div>


  </div>
  <div class="grid__item one-whole xlarge--one-quarter">
    <div class="grid-container">
      <h3>Contact Us Today!</h3>
      <div class="contact">
        <h4>Need Help? Can't Find What You're Looking For?</h4>
        <p>We're always happy to help with any inquery, no matter how small.</p>
        <p>Phone: {{  settings.phone_number }}</p>
        <p>Email: <a href="mailTo:{{  settings.sales_email }}">{{  settings.sales_email }}</a></p>
        <p><a href="/">Contact Form</a></p>
      </div>
    </div>
  </div>
</div>
