{% layout 'dev' %}
<div class="grid">
  {% for i in (1..6) %}
  <div class="grid__item one-third xlarge--one-quarter">
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
      {% assign current_id = 'large' | append: i %}
      {% assign current_category = current_id | append: '_category' %}
      {% assign current_category = settings[current_category] | downcase  %}
      {% assign collection = collections[current_category] %}
      <div class="large-block">
        <div class="content" id="{{ current_id }}">
          <a href="{{ collection.url }}">
            <div class="block-header">{{ collection.title }}</div>
            <img src="{{ collection | img_url: 'large' }}">
          </a>
        </div>
      </div>
    {% endif %}
    {% assign current_id = 'small' | append: i %}
    {% assign current_link = current_id | append: '_link' %}
    {% assign current_title = current_id | append: '_title' %}
    {% assign current_img = current_id | append: '_img_medium.png' %}    
    {% assign current_type = current_id | append: '_type' %}
    {% assign current_category = current_id | append: '_category' %}
    {% assign current_category = settings[current_category] | downcase  %}
    {% assign collection = collections[current_category] %}
    <div class="small-block">
      {% if settings[current_type] == 'fullbg' %}
        <div class="content full-bg" id="{{ current_id }}">
          {% if settings[current_link] != '' %}<a href="{{ settings[current_link] }}">{% endif %}
            <div class="block-header">{{ settings[current_title] }}</div>
          {% if settings[current_link] != '' %}</a>{% endif %}
        </div>
      {% elsif settings[current_type] == 'slider' %}
        <div class="content" id="{{ current_id }}">
          {% include 'slider' %}
        </div>
      {% else %}
        <div class="content" id="{{ current_id }}">
          <a href="{{ collection.url }}">
            <div class="block-header">{{ collection.title }}</div>
            <img src="{{ collection | img_url: 'large' }}">
          </a>
        </div>
      {% endif %}
    </div>
    {% if thecycle == 'even' %}
      {% assign current_id = 'large' | append: i %}
      {% assign current_category = current_id | append: '_category' %}
      {% assign current_category = settings[current_category] | downcase  %}
      {% assign collection = collections[current_category] %}
      <div class="large-block" >
        <div class="content" id="{{ current_id }}">
          <a href="{{ collection.url }}">
            <div class="block-header">{{ collection.title }}</div>
            <img src="{{ collection | img_url: 'large' }}">
          </a>
        </div>
      </div>
    {% endif %}
  </div>
  {% endfor %}
  <div class="grid__item xlarge--one-half one-whole">
    <div class="map-block">
      <div class="content">
        <div class="header-container">
          <h2>Dream Bathrooms UK</h2>
          <h3>Visit Our Showroom!</h3>
      </div>
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1080.067669587744!2d-1.5205703150954386!3d53.813612985749224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c760728635b%3A0x3e83eceabe172173!2sdream+bathrooms!5e0!3m2!1sen!2suk!4v1440156633780" width="100%" height="100%" frameborder="0" style="border:0;position:absolute;top:0;bottom:0;left:0;right:0;" allowfullscreen></iframe>
        </div>
        <div class="address">
          <h4>Address</h4>
          <address>
            DreamBathroomsUK,<br>
            170 Roundhay Road,<br>
            Leeds, West Yorkshire,<br>
            LS8 5PL<br>
          </address>
        </div>
        <div class="contact">
          <h4>Contact Us!</h4>
          <p>Phone: <strong>{{ settings.phone_number }}</strong></p>
          <p>Email: <a href="mailTo:{{  settings.sales_email }}">{{  settings.sales_email }}</a></p>
          <p><a href="/contact-us">Contact Form</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
