<!-- /templates/page.liquid -->
<div class="grid">
  {% for link in linklists.brands.links %}
    {% if link.type == 'collection_link' %}
      {% assign subcollection = link.object %}
      {% if subcollection.all_products_count > 0 %}
        <div class="grid__item one-third xlarge--one-quarter">
          <div class="brand-block">
            <div class="content">
              <a href="{{ link.url }}">
                {% if subcollection.image %}
                  <img src="{{ subcollection | img_url: 'large' }}" alt="{{ link.title | escape }}">
                {% else %}
                  {% assign product = subcollection.products.first %}
                  <img src="{{ product | img_url: 'large' }}" alt="{{ link.title | escape }}">
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>