<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item one-whole">
    <div class="grid-container">
      <h1>{{ page.title }}</h1>

      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>

</div>
