<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="grid">
  <div class="grid__item one-whole">
    <div class="grid-container">
      <h1>{{ page.title }}</h1>
      
{% capture CFH %}{{ content_for_header  }}{% endcapture %}{{ CFH }}
{% if CFH contains 'admin_bar_iframe' %}
    {% assign admin = true %}
{% endif %}
{% if admin %}
    <a href="/admin/pages/{{page.id}}">Edit Page</a>
{% endif %}
      
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
<div class="grid grid-flex contact-flex medium-down-column">
  <div class="grid__item block-flex">
    <div class="content">
      <h3>Send Us a Message</h3>
      {% comment %}
        Contact form starts here
      {% endcomment %}
      {% include 'contact_form' %}
    </div>
  </div>
  <div class="grid__item block-flex">
    <div class="content">
      <h3>Company Details</h3>
      <div class="contact-table">
        <table>
          <tr><td>Phone:</td><td>{{  settings.phone_number }}</td></tr>
          <tr><td>Email:</td><td class="ww"><a href="mailTo:{{  settings.sales_email }}">{{  settings.sales_email }}</a></td></tr>
          <tr><td>Address</td>
            <td>
              <address>
                DreamBathroomsUK,<br>
                170 Roundhay Road,<br>
                Leeds, West Yorkshire,<br>
                LS8 5PL<br>
              </address>
            </td>
        </table>
      </div>
      <div class="header">
        <h3>Visit Our Showroom</h3>
      </div>
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1080.067669587744!2d-1.5205703150954386!3d53.813612985749224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c760728635b%3A0x3e83eceabe172173!2sdream+bathrooms!5e0!3m2!1sen!2suk!4v1440156633780" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
