<!-- /templates/page.liquid -->
<div class="share-container">
  <h1>{{ page.title }}</h1>
  <div class="grid grid-flex">
    <div class="grid__item two-thirds">
      <div class="grid-container">
        {{ page.content }}
        <ul class="share-boxes">
          <li>
            <div class="icon-fallback-text"><a class="icon-fallback-text facebook" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.dreambathroomsuk.co.uk/pages/share-and-win"> <span class="icon icon-facebook"></span> <span class="fallback-text">Facebook</span> </a></div>
          </li>
          <li>
            <div class="icon-fallback-text"><a class="icon-fallback-text gplus" title="google" href="https://plus.google.com/share?url=http%3A//www.dreambathroomsuk.co.uk/pages/share-and-win"> <span class="icon icon-google"></span> <span class="fallback-text">Google+</span> </a></div>
          </li>
          <li>
            <div class="icon-fallback-text"><a class="icon-fallback-text twitter" title="twitter" href="https://twitter.com/home?status=Share%20and%20win%20a%20brand%20new%20bathroom,%20fully%20fitted%20with%20Villeroy%20%26%20Boch!%20http%3A//www.dreambathroomsuk.co.uk/pages/share-and-win"> <span class="icon icon-twitter"></span> <span class="fallback-text">Twitter</span> </a></div>
          </li>
        </ul>
        <div>
          <form name="share-win">
            <label>
              Email:
              <input type="email" id="share_and_win_email" name="email" value="" placeholder="john.doe@example.com">
            </label>
            <button class="enter-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="grid__item one-third">
      <div class="grid-container">
        <img src="{{ 'vb.png' | asset_url }}">
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item one-full m-top">
      <div class="grid-container">
        <div class="share-slider">
          <div>
           <img src="{{ 'share1.jpg' | asset_url }}">
          </div>
          <div>
           <img src="{{ 'share2.jpg' | asset_url }}">
          </div>
          <div>
           <img src="{{ 'share3.jpg' | asset_url }}">
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item one-full m-top">
      <div class="grid-container">
        <div class="grid-uniform">
          {% comment %}
            Loop through our products in the current collection.
            See the snippet 'product-grid-item' for the layout.
          {% endcomment %}
          {% assign grid_item_width = 'xlarge--one-quarter large--one-quarter one-half' %}
          {% for product in collections.architectura.products limit:4 %}
            {% include 'product-grid-item' %}
          {% endfor %}
        </div>
        <h1><a href="http://www.dreambathroomsuk.co.uk/collections/architectura">View All Villeroy & Boch - Architectura range</a></h1>
      </div>
    </div>
  </div>
</div>
{{ 'minified.js' | asset_url | script_tag }}
<script>
(function($, window) {
  $(function() {
    var submitButton = $('.enter-button'),
        shareGooglePlus = $('.share-boxes .gplus'),
        shareTwitter = $('.share-boxes .twitter'),
        shareFacebook = $('.share-boxes .facebook'),
        form = $('form[name="share-win"]'),
        emailEl = $('#share_and_win_email'),

        entryStepEl = $('.entry-step'),
        loaderEl = $('.loader'),

        performedShare = false,
        shareType = '',

        compBox = $('.comp-box'),
        afterBox = $('.after-box');

    var openPopup = function(url, w, h) {
      var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left,
          dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top,
          width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width,
          height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height,
          left = ((width / 2) - (w / 2)) + dualScreenLeft,
          top = ((height / 2) - (h / 2)) + dualScreenTop;

      var popup = window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,' +
                                       'height=' + h + ',width=' + w + ',' +
                                       'top=' + top + ',left=' + left);

      if(popup && popup.focus) {
        popup.focus();
      }

      return popup;
    };

    $([shareGooglePlus, shareFacebook, shareTwitter]).on('click', function(e) {
      e.preventDefault();

      var popup = openPopup(this.get('href'), 520, 450);
      if(popup) {
        performedShare = true;
        submitButton.set('-disabled').set('disabled', false);
        shareType = (this.is('.facebook')) ? 'facebook' : 'gplus';
        if(this.is('.twitter')) {
        	shareType = 'twitter';
        }
      }
    });

    /*shareTwitter.on('click', function(e) {
      e.preventDefault();

      openPopup(this.get('href'), 520, 450);
    });*/

    form.on('submit', function(e) {
      e.preventDefault();

      loaderEl.set('+fade-in');
      entryStepEl.set('+fade-out');
      submitButton.set('+disabled').set('disabled', true);

      var email = emailEl.get('value');
      var url = 'https://script.google.com/macros/s/AKfycbx9h8FeDtuG0jUXoUwDLZjA8B8WhptRTKLl7a206KSqea7rZA/exec?_vote_=yes&callback=?';
      jQuery.ajax({
         type: 'GET',
          url: url,
          async: true,
          jsonpCallback: 'jsonCallback',
          contentType: "application/json",
          data: { email: email, shared: shareType },
          dataType: 'jsonp',
          success: function(response) {
            if(response && response.status === 'ok') {
              loaderEl.hide();
              entryStepEl.hide();
              submitButton.hide();
              compBox.set('+flip');
              afterBox.set('+flip');
            } else {
              loaderEl.set('-fade-in');
              entryStepEl.set('-fade-out');
              submitButton.set('-disabled').set('disabled', false);
              if(response && response.error) {
                alert(response.error);
              }
            }
          },
          error: function(e) {
            loaderEl.set('-fade-in');
            entryStepEl.set('-fade-out');
            submitButton.set('-disabled').set('disabled', false);
          }
      });
    });
  });
})(require('minified').$, window);
</script>
</main>
<div class="share-footer">
  <div class="tandc">
    <h4>Terms and conditions:</h4>
    <p>Entrants must be residents of the UK or Ireland, and over the age of 18. Maximum of 3 entrants (one each for Google Plus, Facebook, and Twitter). Closing date is the 1st of Decemeber. The winner will be contacted within 1 week of the competition close. Only one account per social media platform. Fake profiles will not be counted. The winner will be selected at random and the decision is final. Should the winner fail to claim their prize within 72 hours a new winner will be selected.</p>
  </div>
</div>
<main>
