<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item one-whole large--two-thirds xlarge--three-quarters">
    <div class="grid-container page-container">
      <h1>{{ page.title }}</h1>

        {% capture CFH %}{{ content_for_header  }}{% endcapture %}{{ CFH }}
        {% if CFH contains 'admin_bar_iframe' %}
            {% assign admin = true %}
        {% endif %}
        {% if admin %}
            <a href="/admin/pages/{{page.id}}">Edit Page</a>
        {% endif %}
      
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
      {% if page_title == 'After Sales Care' %}
      <div class="grid-container c-form">
        {% include 'contact_form' %}
      </div>
      {% endif %}
  </div>
  <div class="grid__item one-whole large--one-third xlarge--one-quarter sidebar">
    <div class="grid-container">
      <h4>Helpful Pages</h4>
      <ul class="helpful-links">
        {% for link in linklists.helpful-pages.links %}
          <li class="{% if page_title == link.title %}active{% endif %}"><a href="{{ link.url }}" class="">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="grid-container">
      <div class="header-container">
          <h4>Dream Bathrooms UK</h4>
          <h5>Visit Our Showroom!</h5>
      </div>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1080.067669587744!2d-1.5205703150954386!3d53.813612985749224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48795c760728635b%3A0x3e83eceabe172173!2sdream+bathrooms!5e0!3m2!1sen!2suk!4v1440156633780" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>
        <div class="address">
          <h4>Address</h4>
          <address>
            DreamBathroomsUK,<br>
            170 Roundhay Road,<br>
            Leeds, West Yorkshire,<br>
            LS8 5PL<br>
          </address>
        </div>
        <div class="contact">
          <h4>Contact Us!</h4>
          <p>Phone: {{  settings.phone_number }}</p>
          <p>Email: <a href="mailTo:{{  settings.sales_email }}">{{  settings.sales_email }}</a></p>
          <p><a href="/">Contact Form</a></p>
        </div>
    </div>
  </div>

</div>
