{% layout none %}

{% capture CFH %}{{ content_for_header  }}{% endcapture %}{{ CFH }}
{% if CFH contains 'admin_bar_iframe' %}
    {% assign admin = true %}
{% endif %}

{% if admin == false %}
   <script type="text/javascript">
      window.location="/";
    </script>
{% else %}

<table>
 {% for link in linklists.catagory.links %}
  {% assign cat = link.object %}
  {% for product in cat.products %}
    <tr>
      <td><a href="/admin/products/{{product.id}}">{{ product.title }}</a></td>
      <td>{{ product.images | size }}</td>
    </ltr>
  {% endfor %}
{% endfor %}
</table>
{% endif %}