<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
<div class="product-single grid">
  <div class="grid__item one-whole xlarge--three-quarters">
    <div class="grid-container">
        {% capture CFH %}{{ content_for_header  }}{% endcapture %}{{ CFH }}
        {% if CFH contains 'admin_bar_iframe' %}
            {% assign admin = true %}
        {% endif %}
        {% if admin %}
            <a href="/admin/products/{{product.id}}">Edit Product</a>
        {% endif %}
    <div class="grid">
      <h1 itemprop="name">{{ product.title }}</h1>
      {% if product.images.size > 1 %}{% assign thumbnails = true %}{% endif %}
      <div class="grid__item one-half medium-down--one-whole text-center">
        <div class=" grid-flex product-images-container {% unless thumbnails %}square__image large--three-quarters xlarge--three-quarters{% endunless %}">
          <div class="product-single__photo {% if thumbnails %}has-thumbnails{% else %}square-container{% endif %}" id="ProductPhoto">
            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
          </div>
          {% if thumbnails %}
            <div class="product-single__thumbnails grid-flex flex-column" id="ProductThumbs">
              {% for image in product.images %}
                <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </a>
                {% if forloop.last == true %}{% else %}
                  <hr>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="table-container">
          {% unless product.metafields.Details == empty %}
          <table>
            <thead>
              <th colspan="2">Product Details</tr>
            </thead>
            <tbody>
              {% for field in product.metafields.Details %}
              <tr>
                <td>{{ field | first | replace: '-', ' ' | capitalize }}</td>
                <td>{{ field | last }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endunless %}
          <table>
            <thead>
              <th colspan="2">Delivery and Returns</tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">{{ settings.table_delivery_text }}</td>
              </tr>
              <tr>
                <td>Time to Dispatch</td>
                <td>View <a href="/pages/deliveries">Average Delivery Times</a></td>
              </tr>
              <tr>
                <td>Standard Delivery Price</td>
                <td>View <a href="/pages/delivery-rates">Delivery Rates</a></td>
              </tr>
              <tr>
                <td>Returns</td>
                <td>View <a href="/pages/returns-policy">Returns Policy</a></td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <th colspan="2">{{ settings.table_help_title }}</tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">{{ settings.table_help_text }}</td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td>{{ settings.phone_number }}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><a href="mailTo:{{ settings.sales_email }}">{{ settings.sales_email }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="grid__item one-half medium-down--one-whole">
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-right">
          <div class="sku">Base product code: {{ product.variants.first.sku }}</div>
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  {% comment %}
                    Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                  {% endcomment %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
              <div class="product-price">
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span id="ProductPrice" class="h2" itemprop="price">
                  {{ current_variant.price | money }}
                </span>
                {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  <p id="ComparePrice">
                    {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
                  </p>
                {% endif %}
              </div>
              <div class="product-quantity">
                <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              </div>
            <hr>
            <button type="submit" name="add" id="AddToCart" class="btn">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </form>
        </div>

        <div class="product-description rte" itemprop="description">
          {{ product.description }}
        </div>

      </div>
    </div>
    <div class="grid">
      <div class="grid__item one-whole large--one-half xlarge--one-half push--large--one-half push--xlarge--one-half">
       
      </div>
      <div class="grid__item one-whole large--one-half xlarge--one-half pull--large--one-half pull--xlarge--one-half">

      </div>
    </div>
  </div>
  </div>
  <div class="grid__item one-whole xlarge--one-quarter">
    <div class="grid-container related-container">
      <h3>Related Items</h3>
      {% include 'related-products' %}
    </div>
  </div>
</div>
</div>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
