<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Set grid_results to true and set search results as a grid instead of a list.
  This works well when your search is only for products.
{% endcomment %}
{% assign grid_results = true %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 12 %}

  <div class="grid">
    <div class="grid__item one-whole">
      <div class="grid-container">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            <h1 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
          {% else %}
            <h1 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
          {% endif %}
        {% else %}
          <h1 class="text-center">{{ 'general.search.title' | t }}</h1>
        {% endif %}

        {% include 'search-bar' %}

        {% if search.performed %}

          <hr class="hr--clear">

          <div class="grid-uniform">
            {% for item in search.results %}
              {% comment %}
                Check if the product is on sale and set a variable to be used below.
              {% endcomment %}
              {% assign on_sale = false %}
              {% if item.compare_at_price > item.price %}
                {% assign on_sale = true %}
              {% endif %}

              {% comment %}
                Check if the product is sold out and set a variable to be used below.
              {% endcomment %}
              {% assign sold_out = true %}
              {% if item.available %}
                {% assign sold_out = false %}
              {% endif %}

              {% if grid_results == false %}
                <!-- begin list search results-->
                <div class="grid__item">
                  <div class="grid">
                    {% if item.featured_image %}
                      {% comment %}
                        We have a featured_image, so it's likely a product
                      {% endcomment %}
                      <div class="grid__item one-third">
                        <a href="{{ item.url }}" title="{{ item.title | escape }}" class="grid__image square__image">
                          <div class="square-container">
                            {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                          </div>
                        </a>
                      </div>
                    {% endif %}

                    {% comment %}
                      If we don't have a featured_image, add a push-- class to keep the alignment the same
                    {% endcomment %}
                    <div class="grid__item two-thirds {% unless item.featured_image %}push--one-third{% endunless %}">
                      <h3>{{ item.title | link_to: item.url }}</h3>

                      {% if item.price %}
                        <p>
                          {% comment %}
                            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                            if your variants have different prices.
                          {% endcomment %}
                          {% if on_sale %}
                            {% if item.price_varies %}
                              {% assign sale_price = item.price | money %}
                              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                            {% else %}
                              <strong>{{ 'products.product.on_sale' | t }}</strong>
                              <span itemprop="price">{{ item.price | money }}</span>
                            {% endif %}
                          {% else %}
                            {% if item.price_varies %}
                              {% assign price = item.price | money %}
                              <span itemprop="price">{{ 'products.general.from_text_html' | t: price: price }}</span>
                            {% else %}
                              <span itemprop="price">{{ item.price | money }}</span>
                            {% endif %}
                          {% endif %}
                          {% if sold_out %}
                            <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                          {% endif %}
                          {% if on_sale %}
                            <br><span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span><s>{{ item.compare_at_price | money }}</s>
                          {% endif %}
                        </p>
                      {% endif %}

                      {% comment %}
                        Get a brief excerpt of raw text from the page/product
                      {% endcomment %}
                      <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                    </div>
                  </div>
                  {% unless forloop.last %}<hr>{% endunless %}
                </div>
                <!-- //list search results-->
              {% else %}
                <!-- begin grid search results-->
                <div class="grid__item search-result xlarge--one-sixth large--one-quarter medium--one-third">
                  {% if item.featured_image %}
                    <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}" class="grid__image square__image">
                      <div class="square-container">
                        {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                      </div>
                    </a>
                  {% endif %}

                  <h5>{{ item.title | link_to: item.url }}</h5>

                  {% if item.price %}
                    <p>
                      {% if on_sale %}
                        {% if item.price_varies %}
                          {% assign sale_price = item.price | money %}
                          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                        {% else %}
                          <strong>{{ 'products.product.on_sale' | t }}</strong>
                          <span itemprop="price">{{ item.price | money }}</span>
                        {% endif %}
                      {% else %}
                        {% if item.price_varies %}
                          {% assign price = item.price | money %}
                          <span itemprop="price">{{ 'products.general.from_text_html' | t: price: price }}</span>
                        {% else %}
                          <span itemprop="price">{{ item.price | money }}</span>
                        {% endif %}
                      {% endif %}
                      {% if sold_out %}
                        <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                      {% endif %}
                      {% if on_sale %}
                        <br><s>{{ item.compare_at_price | money }}</s>
                      {% endif %}
                    </p>
                  {% else %}
                    <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                  {% endif %}
                </div>
                <!-- //grid search results-->
              {% endif %}

            {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
            <hr>
            <div class="pagination">
              {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
            </div>
          {% endif %}

        {% endif %}
      </div>
    </div>
  </div>

{% endpaginate %}

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
